<{extends file="<{$tempdir}>/public/admin.html"}>
<{block name=extendjs}>
<{/block}>
 <{block name=controlname}>添加充值送余额/优惠券<{/block}>
 <{block name=bodylist}>
<{load_data assign="info" table="rechargecost" where="`id`=$id"  type="one"}> 
     <div style="width:98%;overflow-y:auto;white-space:nowrap;">

          <div class="tags">
          <div id="tagscontent">
            <form method="post" name="form1" action="<{ofunc type=url link="/adminpage/card/module/saverechargecost/datatype/json"}>" onsubmit="return subform('<{ofunc type=url link="/adminpage/card/module/rechargezend"}>',this);">
              <div>
                <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                  <tbody>

                     <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">充值金额</td>
                      <td><input type="text" name="cost" id="cost" value="<{$info['cost']}>" class="skey" style="width:50px;" ></td>
                     </tr>	
					  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">是否赠送账户余额</td>
                      <td>
						<input type="radio" name="is_sendcost"   value="0" class="skey" <{if $info['is_sendcost'] == 0 }>checked<{/if}>   style="width:15px;" /> 否
						<input type="radio" name="is_sendcost"   value="1" class="skey"     <{if !empty($info) && $info['is_sendcost'] == 1 }>checked<{/if}>   style="width:15px;" /> 是
						&nbsp;&nbsp;&nbsp;<span id="sendcost" <{if $info['is_sendcost'] == 0 }>style="display:none;"<{/if}>   >赠送金额：<input type="text" value="<{$info['sendcost']}>" style="width:50px;" name="sendcost" />&nbsp;元</span>
						</td>
                    </tr>
					<script>					
					$("input[name='is_sendcost']").click(function(){
						  var checkid =  $("input[name='is_sendcost']:checked").val();
						 //befortime
						 if(checkid == 1){
							$('#sendcost').show();
						 }else{
							 $('#sendcost').hide();
						 }
						  
					});  
					</script>
					  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">是否赠送优惠券</td>
                      <td>
						<input type="radio" name="is_sendjuan"   value="0" class="skey"    <{if (!empty($info) && $info['is_sendjuan']) || empty($info) }>checked<{/if}>   style="width:15px;" /> 否
						<input type="radio" name="is_sendjuan"   value="1" class="skey"  <{if $info['is_sendjuan'] == 1 }>checked<{/if}>  style="width:15px;" /> 是
						&nbsp;&nbsp;&nbsp;<span id="sendjuancost"  <{if $info['is_sendjuan'] == 0 }> style="display:none;" <{/if}> >优惠券：			 
						<select name="juanid">
							<option value="0">-------请选择赠送优惠券-------</option>
                            <{foreach from=$juaninfo key=keys item=items}>
                            <{if $juansetinfo['costtype'] == 1}>							
							<option value="<{$items['id']}>" <{if $info['juanid'] == $items['id'] }>selected<{/if}>><{$items['cost']}>元固定面值，满<{$items['limitcost']}>元可用</option>
							<{else}>
							<option value="<{$items['id']}>" <{if $info['juanid'] == $items['id'] }>selected<{/if}>><{$items['costmin']}>至<{$items['costmax']}>元随机面值，满<{$items['limitcost']}>元可用</option>
							<{/if}>
							<{/foreach}>	 
						</select>
						&nbsp;注：此处可供选择的优惠券数据为[<font color='#0076cf'>优惠券营销</font>]>[<font color='#0076cf'>充值送优惠券</font>]模块中添加的优惠券</span>
						</td>
                    </tr>
					
					<script> 
					$("input[name='is_sendjuan']").click(function(){
						  var checkid =  $("input[name='is_sendjuan']:checked").val();
						 //befortime
						 if(checkid == 1){
							$('#sendjuancost').show();
						 }else{
							 $('#sendjuancost').hide();
						 }
						  
					});  
					</script>
					
					
					 
					
					  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">排序</td>
                      <td><input type="text" name="orderid" id="orderid" value="<{$info['orderid']}>" class="skey" style="width:50px;" ></td>
                    </tr>
					<input type="hidden" name="id"   value="<{$info['id']}>" class="skey" style="width:50px;" >
					
					


                  </tbody>
                </table>
              </div>
              <div class="blank20"></div>
               <input type="submit" value="确认提交" class="button">
            </form>
          </div>
        </div>
        <div class="blank20"></div>

      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>




</div>
<{/block}>