{itemplate 'public/header'}
<div class="page clearfix">
	<h2>为你优选设置</h2>
	<form class="form-horizontal form form-validate" id="form1" action="" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label">为您优选更多页顶部图片</label>
			<div class="col-sm-9 col-xs-12">
				{php echo tpl_form_field_image('selective_image', $recommend['image']);}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9 col-xs-9 col-md-9">
				<input type="hidden" name="token" value="{$_W['token']}">
				<input type="submit" value="提交" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>
{itemplate 'public/footer'}