@charset "utf-8";
.homescreenadd {
    background-color: #00cd85!important;
}
#total_money{
    color:#00cd85!important;   
}
.homscrsear {
    background-color: #00cd85!important;   
}
.noticeText {    
    background-color: #00cd85!important;
}
.homscrbusintit h3 {    
    border-left: 3px solid #00cd85!important;
}
.homeNeashopBox ul li .homeNeaRig .homeNeaTop .homeNeaCost .homeNeaCo b { 
    color: #00cd85!important;    
}
.toptitCon {  
    background-color: #00cd85!important;
}
#cuisien li.xz {
    background-color: #00cd85!important;   
}
.title_content {
    background-color: #00cd85!important;
}
.helpme_tab ul li.navaA {
    color: #00cd85!important;
}
.base_btn input {
    background-color: #00cd85!important;
}
.intexchabutt .intexbg1 {
    background-color: #00cd85!important;
}
.balchapaymamoy ul li b {    
    color: #00cd85!important;    
}
.peceTopCon {
    background: #00cd85!important;
}
.balRechTab ul .bareTaA {
    color: #00cd85!important;
    border-bottom: 2px solid #00cd85!important;
}
.interuletit ul .interuleaA span {
    color: #00cd85!important;
}
.interdetailBox .interdetail .interdetailt li .intespcl1 {
    color: #00cd85!important;
}
.recurorder input {
    background-color: #00cd85!important;
}

.processCon .proaA {
    background-color: #00cd85!important;
}
.processCon {
    border-bottom: 2px solid #00cd85!important;
}
.mesedete input {
    background-color: #00cd85!important;
}
.shanchuedit {
    background-color: #00cd85!important;
}
.editordertit ul li .editorfoncol {
    color: #00cd85!important;
}
.editorderbox ul li ul li span {
    color: #00cd85!important;
}
.signinregistertit ul .ainregaA {
    border-bottom: 2px solid #00cd85!important;
    color: #00cd85!important;
}
.order-widget-orderhistory .time-btm .active {
    background: #00cd85!important;
    border: 1px solid #00cd85!important;
}
header {
    background: #00cd85!important;
    background: -moz-linear-gradient(top, #f1f1f1, #00cd85!important);
    background: linear-gradient(top, #f1f1f1, #00cd85!important);
    background-color: #00cd85!important;
}
.base_btn input {  
    background-color: #00cd85!important;
}
.ordshopCon {   
     background: -webkit-linear-gradient(#00cd85, #00cd85)!important;
}
.ordisordet li .ordisordC li b {
    color: #00cd85!important;
}
.ordisordLeft ul .ordisordaA {
    border-left: 3px solid #00cd85!important;
}
.moreguige {
    color: #00cd85!important;
    border: 1px solid #00cd85!important;
}
.ordislink ul .ordislinkaA {
    border-bottom: 2px solid #00cd85!important;
}
.ordeilpaymen ul li b {
    color: #00cd85!important;
}
.defaposCon span {
    color: #00cd85!important;
}
.swiaddCon {   
    background-color: #00cd85!important;
}
.alropeBox ul li.curaA {
    color: #00cd85!important;
    border: 1px solid #00cd85!important;
}
.swiper-active-switch {
    background: #00cd85!important;
}
.helpme_tab ul li { 
    color: #00cd85!important;   
}
.helpbuy_btn {
        background: -webkit-linear-gradient(left, #00cd85, #00cd85)!important;
}
.interulebutton input {
    background-color: #00cd85!important;   
}
.emptyhis span {
    border: 1px solid #00cd85!important;   
    color:#00cd85!important;   
}
.liwd30 {   
    color: #00cd85!important;
}
.ordeiltit .ordeleft a b {
    color: #00cd85!important;
}
.ordeilpaymenshop i {
    background-color: #00cd85!important;
}
.ordeilpaybut input {
    border: 1px solid #00cd85!important;
    color: #00cd85!important;
}
.curattr {
    border: 1px solid #00cd85!important;
    color: #000000!important;
}
.processCon span {
    color: #00cd85!important;
}
.curattr {
    border: 1px solid #00cd85!important;
    color: #000000!important;
    background-color: #00cd85!important;
}
.shopcaorderCon ul .shopcaoderbox .shopdiatc {
    background-color: #00cd85!important;
}
.pro_01 {
    background-image: url(../images/pro_01_1.png);
}
.pro_02 {
    background-image: url(../images/pro_02_1.png);
}
.pro_03 {
    background-image: url(../images/pro_03_1.png);
}
.balchapayma ul .balchapaymaR .balchacirc2 {
    background-image: url(../images/049_1.png);
}
.myaddressBox i {
    color: #00cd85!important;
    background-image: url(../images/add04_1.png);
}
.difaultl li .difyd {
    background-image: url(../images/add06_1.png);
}
.interuletit ul li .interulemx2 {
    background-image: url(../images/019_1.png);
}
.interuletit ul li .interulegz1 {
    background-image: url(../images/021_1.png);
}
.businessaddtim ul li .businadd {
    background-image: url(../images/037_1.png);
}
.businessaddtim ul li .busintime {
    background-image: url(../images/038_1.png);
}
.ordisordet li .ordisordR li .ordenabotR {
    background-image: url(../images/add_02_1.png);
}
.ordisordet li .ordisordR li .ordenabotL {
    background-image: url(../images/add_01_1.png);
}
.ordeilpaymenshop {
    background-image: url(../images/029_1.png);
}
.bottom-bar .bbar-btn .icon {
    background: url(/upload/images/bottom-bar-icon_1.png) no-repeat;
}
.defaposCon i {
    background-image: url(../images/add02_1.png);
}
.orderdishestit .detaicon {
    background-image: url(../images/064_1.png);
}
.orderdishestit .shopicon {
    background-image: url(../images/063_1.png);
}
.helpme_tab ul li.navaA i.icon_helpbuy {
    background-image: url(../images/icon_helpbuy02_1.png);
}
.helpme_tab ul li.navaA i.icon_helpgive {
    background-image: url(../images/icon_helpgive02_1.png);
}
.helpgive_class ul li i {
    background-image: url(../images/icon_choice_1.png);
}
