@charset "utf-8";
/* CSS Document */

body{ background:#f6f6f6; font-family: "Microsoft yahei"}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
.bd_t_dd{ border-top:1px solid #ddd;}
.bd_b_dd{ border-bottom:1px solid #ddd;}
.bd_r_dd{ border-right:1px solid #ddd;}
html a:hover { text-decoration:none;}
/*清除浮动=============================================================*/
.C:before, .C:after { content: "."; display: block; height: 0; visibility: hidden; }
.C:after { clear: both; }
.C { zoom: 1; }
/*end======*/

.mem-mbx{ font-size:16px; color:#666;}
.mem-mbx a{ color:#666;}
.mem-mbx span{ color:#df592f;}
.mem-banner{ height:100px; background:#fff; display: none}
.mem-cont{ background:url(../images/mem-contbg.png) 0 0; border:1px solid #ddd;}
.mem-cont .mem-left{ width:238px; min-height:500px;_height:500px; float:left; background:#fff;}
.mem-cont .mem-left li{ height:80px;  border-top:1px solid #ddd; margin-top:-1px; background:#fff; font-size:20px; padding-left:19px; position:relative;}
.mem-cont .mem-left li a{ text-decoration:none;}
.mem-cont .mem-left li .sebg{ width:239px; height:61px;  position:absolute; left:-1px; top:9px;}
.mem-cont .mem-left li.on .sebg{ width:276px; height:61px; background:url(../images/mem-bg.png) -22px -18px; position:absolute; color:#fff;}
.mem-cont .mem-left li i{ background-image:url(../images/mem-bg.png); width:39px; height:36px; display:inline-block; vertical-align:-11px; margin-top:12px; margin-left:32px; margin-right:0px;}
.mem-cont .mem-left li i.ico1{ background-position:-34px -118px;}
.mem-cont .mem-left li.on i.ico1{ background-position:-107px -118px;}
.mem-cont .mem-left li i.ico2{ background-position:-34px -175px;}
.mem-cont .mem-left li.on i.ico2{ background-position:-107px -175px;}
.mem-cont .mem-left li i.ico3{ background-position:-34px -232px;}
.mem-cont .mem-left li.on i.ico3{ background-position:-107px -232px;}
.mem-cont .mem-left li i.ico4{ background-position:-34px -289px;}
.mem-cont .mem-left li.on i.ico4{ background-position:-107px -289px;}
.mem-cont .mem-left li i.ico5{ background-position:-34px -624px;}
.mem-cont .mem-left li.on i.ico5{ background-position:-108px -624px;}
.mem-cont .mem-left li i.ico6{ background-position:-29px -706px; margin-left:27px; margin-right:6px;}
.mem-cont .mem-left li.on i.ico6{ background-position:-102px -706px; margin-left:27px; margin-right:6px;}

.mem-right{ margin-left:45px; float:left; width:868px; padding-bottom:30px;}
.mem-right .wel{ height:158px; background:#fff; margin-top:52px; border:1px solid #ddd;border-radius: 8px;}
.mem-right .wel .tx{ margin-left:43px; margin-top:24px; float:left; display:block; border:1px dotted #ddd;}
.mem-right .wel .k{ margin-left:58px; width:600px; float:left; margin-top:17px;}
.mem-right .wel .k .t1{ font-size:16px; color:#666;}
.mem-right .wel .k .t1 b{ font-size:20px; color:#df592f;}
.mem-btn{ width:88px; height:31px; text-align:center; overflow:hidden; background:url(../images/mem-bg.png) -186px -119px; border:none; cursor:pointer; font-size:16px; color:#fff; font-family:"微软雅黑";}
.mem-btn.h{ background:url(../images/mem-bg.png) -186px -176px;}
.mem-right .wel .k .t2{ color:#999; font-size:16px; margin-top:15px;}
.mem-right .wel .k .t3{ margin-top:15px; font-size:16px; color:#999;}
.mem-right .wel .k .t3 span{ color:#df592f;}
.mem-right .wel .k .t3 a{ color:#999;}

.mem-r-cont1 .tit{ background:#F6F5F3; border:1px solid #ddd; border-radius: 8px 8px 0 0; height:50px;}
.mem-r-cont1 .tit .mc{ float:left; line-height:50px; font-size:22px; color:#666; padding-left:15px;}
.mem-r-cont1 .tit .more{ color:#999; float:right; margin-top:15px; margin-right:15px; font-size:16px;}
.mem-r-cont1 .k{ background:#fff; border:1px solid #ddd; border-top:none; min-height:190px; position:relative;}
.mem-r-cont1 .k .no-ft{ text-align:center; font-size:16px; color:#999;}
.mem-r-cont1 .k .no-ft a{ color:#e16740;}
.mem-r-cont1 .k .address{ width:418px; height:205px; border:1px solid #ddd; margin-left:9px; margin-top:10px; float:left; display:inline; overflow:hidden; position:relative;border-radius: 2px;}
.mem-r-cont1 .k .address ul{ padding-top:10px;}
.mem-r-cont1 .k .address li{ height:35px; font-size:16px; padding:0 20px; line-height:35px; color:#666; overflow:hidden;}
.mem-r-cont1 .k .address li span{ color:#999;}
.mem-r-cont1 .k .address li.cz{ height:40px; line-height:40px; border-top:1px solid #ddd; margin-top:11px; font-size:14px;}
.mem-r-cont1 .k .address li.cz span{ margin-left:5px; margin-right:5px; color:#df592f;}
.mem-r-cont1 .k .address .addbg{width:104px; height:77px; position:absolute; right:0px; bottom:0px; background:#fff url(../images/mem-bg.png) -177px -244px; display:none;}
.mem-r-cont1 .k .address.on .addbg{ display:block;}
.tab-zjdd td{ font-size:16px;font-family:"微软雅黑"; color:#666; text-align:center; padding:5px 0;}
.tab-zjdd thead td{ color:#999; border-bottom:1px solid #ddd;}
.setadd{ width:868px; overflow:hidden;}
.setadd ul{ width:910px; padding-left:16px; padding-top:5px;}
.setadd li{ width:398px; height:226px; float:left; background-color:#FFF; border:1px solid #ddd; overflow:hidden;border-radius: 8px; position:relative; margin-right:40px; display:inline; margin-top:30px;}
.setadd li .tit{ height:39px; background:url(../images/mem-titbg.png);}
.setadd li .tit .mc{ float:left; font-size:16px; line-height:39px; padding-left:20px;}
.setadd li .tit .more{ float:right; padding-top:5px;}
.setadd li .tit .btn-edit{ width:28px; height:28px; background:url(../images/mem-bg.png) -32px -455px; float:left; margin-right:10px;}
.setadd li .tit .btn-del{ width:28px; height:28px; background:url(../images/mem-bg.png) -72px -455px; float:left; margin-right:10px;}
.setadd li .k{ padding-top:15px; position:relative; z-index:2;}
.setadd li .t span{color:#999;}
.setadd li .t{ height:40px; font-size:16px; padding:0 20px; line-height:40px; color:#666; overflow:hidden;}
.setadd li .addbg{width:104px; height:110px; position:absolute; right:0px; bottom:0px; background:#fff url(../images/mem-bg.png) -177px -244px; display:none; z-index:1;}
.setadd li.ed .addbg{ display:block;}

.setadd li.add{ height:138px; cursor:pointer; text-align:center; font-size:20px; color:#999;}
.setadd li.add i{ width:70px; height:70px; background:url(../images/mem-bg.png) -203px -359px; display:inline-block; margin-top:34px; vertical-align:-29px; margin-right:10px;}

.mem-tab{ padding-top:35px;}
.mem-tab a{ width:101px; height:41px; float:left; color:#666; float:left; text-align:center; line-height:41px; font-size:16px; margin-right:20px;}
.mem-tab a:hover{ text-decoration:none;}
.mem-tab a.on{ background:url(../images/mem-bg.png) -324px -115px; color:#fff;}
.mem-btn1{ width:89px; height:37px; text-align:center; overflow:hidden; background:url(../images/mem-bg.png) -324px -170px; border:none; cursor:pointer; font-size:16px; color:#fff; font-family:"微软雅黑";}
.mem-btn1.h{ background:url(../images/mem-bg.png) -324px -227px;}

.mem-ddlist li{ border:1px solid #ddd;border-radius: 8px; background:#fff; margin-top:30px; overflow:hidden; padding-bottom:15px;}
.mem-ddlist li .tit{ height:49px; background:#ccc;}
.mem-ddlist li .tit .mc{ font-size:18px; float:left; padding-left:24px; line-height:49px; color:#fff;}
.mem-ddlist li .tit .fr b{ font-weight:normal; font-size:18px; float:left; line-height:49px; margin-right:24px; display:inline; color:#fff;}

.mem-ddlist li.st1 .tit{ background:#D9EDF7;}
.mem-ddlist li.st1 .tit .mc{ color:#3399cc;}
.mem-ddlist li.st1 .tit .fr b{ color:#3399cc;}

.mem-ddlist li.st2 .tit{ background:#DFF0D8;}
.mem-ddlist li.st2 .tit .mc{ color:#009999;}
.mem-ddlist li.st2 .tit .fr b{ color:#009999;}

.mem-ddlist li.st3 .tit{ background:#C1C1C1;}
.mem-ddlist li.st3 .tit .mc{ color:#fff;}
.mem-ddlist li.st3 .tit .fr b{ color:#fff;}

.mem-ddlist li.st4 .tit{ background:#E4E4E4;}
.mem-ddlist li.st4 .tit .mc{ color:#666;}
.mem-ddlist li.st4 .tit .fr b{ color:#666;}

.mem-ddlist li.st5 .tit{ background:#F0AD4E;}
.mem-ddlist li.st5 .tit .mc{ color:#fff;}
.mem-ddlist li.st5 .tit .fr b{ color:#fff;}

.mem-ddlist li .tit .mem-btn1{ float:left; margin-top:6px; margin-right:24px; display:inline;}
.mem-ddlist li .k{ margin:0 24px; padding-top:10px;}
.mem-ddlist li .k td{ font-size:16px; font-family:"微软雅黑"; color:#666; padding:8px 0 8px 5px; padding-left:5px; white-space:normal;}
.mem-ddlist li .k td.mc{ color:#999; width:82px;}
.mem-ddlist li .k td b{ color:#cc6633; font-weight:normal;}
.mem-ddlist li .k td .btn{ background:#DF603C; height:35px; color:#fff; font-size:16px; font-family:"微软雅黑"; color:#fff;border-radius: 8px; vertical-align:middle; border:none; display:inline-block; padding:0 20px; cursor:pointer;}
.mem-ddlist li .mem-line{ border-top:1px solid #ddd; font-size:0px; height:1px; overflow:hidden;}
.mem-ddlist li .k .dd td{padding:5px 0 5px 5px;}
.mem-ddlist li .k .dd thead td{ color:#999;}

.mem-dplist{ width:868px; overflow:hidden; margin-top:35px;}
.mem-dplist .tit{ width:852px; height:59px; background:url(../images/mem-bg.png) -33px -534px; overflow:hidden;}
.mem-dplist .tit .mc{ float:left; padding-left:50px; font-size:20px; color:#fff; line-height:55px;}
.mem-dplist .tit .fr{ color:#999; line-height:66px; padding-right:16px; font-size:14px;}
.mem-dplist ul.dp{ width:900px;}
.mem-dplist ul.dp li{ width:198px; height:268px; float:left; border:1px solid #DDD; margin-right:17px; margin-top:17px;border-radius: 10px; display:inline; position:relative; overflow:hidden; background:#fff;}
.mem-dplist ul.dp li .p{ width:120px; height:120px; display:block; margin:auto; margin-top:13px;}
.mem-dplist ul.dp li .t{ font-size:18px; color:#666; text-align: center; height:27px; overflow:hidden; margin-top:10px;}
.mem-dplist ul.dp li i{ width:23px; height:23px; display:inline-block; background-image:url(../images/se-bg.png); vertical-align:-4px;}
.mem-dplist ul.dp li i.dai{ background-position:-67px -214px;}
.mem-dplist ul.dp li i.zi{ background-position:-120px -214px;}
.mem-dplist ul.dp li .t1{ font-size:14px; text-align: center; color:#999; height:21px; overflow:hidden; margin-top:5px;}
.mem-dplist ul.dp li .t2{ text-align:center; font-size:14px; color:#999; margin-top:5px;}
.mem-dplist ul.dp li .t2 s{ background:url(../images/se-bg.png) -66px -457px; width:13px; height:13px; display:inline-block; vertical-align:-1px; margin-right:4px;}
.mem-dplist ul.dp li .t2 s.h{ background:url(../images/se-bg.png) -123px -457px;}
.mem-dplist ul.dp li .t2 span{ color:#df592f;}
.mem-dplist ul.dp li .t3{ margin-left:4px; margin-right:4px; border-top:1px solid #ddd; margin-top:8px;}
.mem-dplist ul.dp li .t3 b{ color:#666; font-size:14px; height:24px; margin-top:7px; text-align:center; width:92px; line-height:24px;}
.mem-dplist ul.dp li .t3 b span{ color:#df592f;}
.mem-dplist ul.dp li .sc{ width:24px; height:24px; background:url(../images/se-bg.png) -173px -302px; position:absolute; right:10px; top:10px; z-index:4;}

.mem-dplist ul.dp li .sc.ed{background:url(../images/se-bg.png) -173px -216px;}
.mem-dplist ul.dp li .hbg{ width:198px; height:268px; background:url(../images/se-bg.png) -216px -83px; position:absolute; top:0px; left:0px; z-index:2; display:none;}
.mem-dplist ul.dp li .st{ display:none;}
.mem-dplist ul.dp li.h .hbg{ display:block;}
.mem-dplist ul.dp li.h .c{filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.mem-dplist ul.dp li.h .st{ display:block; position:absolute; width:155px; height:50px; background:#8EC31F;border-radius: 10px; text-align:center; font-size:18px; text-align:center; line-height:50px; z-index:3; color:#fff; top:62px; left:21px;}
.mem-dplist ul.dp li.h .st.h{ background:#D1D1D1;}


.mem-dplist ul.ms li{border:1px solid #DDD; width:257px;margin-top:17px;border-radius: 10px;position:relative; overflow:hidden; background:#fff; margin-right:17px;}
.mem-dplist ul.ms li .t{ height:35px; background:#F1F1F1; border-bottom:1px solid #ddd;}
.mem-dplist ul.ms li .t i{width:22px; height:22px; float:left; margin-left:14px; margin-top:8px;}
.mem-dplist ul.ms li .t i.ico1{  background:url(../images/mem-bg.png) -353px -375px;}
.mem-dplist ul.ms li .t .mc{ color:#666; font-size:16px; margin-top:5px; float:left; margin-left:12px;}
.mem-dplist ul.ms li .k{ padding:18px;}
.mem-dplist ul.ms li .k .C{ width:100%; float:left; margin-right:5%;}
.mem-dplist ul.ms li .k .C .fl{ max-width:70%; overflow:hidden;}
.mem-dplist ul.ms li .k .C .fl , .mem-dplist ul.ms li .k .C .fr{ height:30px; font-size:16px; color:#666;}
.mem-dplist ul.ms li .k .C .fr{ color:#df592f;}
.mem-dplist ul.ms li .k .C .sc{ width:24px; height:24px; background:url(../images/se-bg.png) -173px -216px; right:10px; top:10px; z-index:4; display:none; float:left; margin-top:2px; margin-left:5px;}
.mem-dplist ul.ms li .k .C:hover .sc{ display:block;}
.mem-table1{ background:#fff;border-collapse:collapse; width:98%;}
.mem-table1 td{border:1px solid #ddd;}
.mem-table1 thead td{ height:49px; background:#f2f2f2\9;background: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#F2F2F2)) ;background: -moz-gradient(linear,left top,left bottom,from(#F9F9F9),to(#F2F2F2)) ; font-size:18px; color:#666;}
.mem-table1 tbody td{ height:39px; font-size:14px; color:#666;}

.btn-jhyhj{ width:272px; height:152px; background:url(../images/mem-bg.png) -471px -113px; cursor:pointer; display:block;}
.yhj-list{ width:868px; overflow:hidden;}
.yhj-list ul{zoom:1; overflow:hidden; width:900px;}
.yhj-list li{ float:left; width:272px; height:152px; background-image:url(../images/mem-bg.png); margin-right:25px; margin-top:20px; display:inline;}
.yhj-list li.st1{  background-position:-30px -786px;}
.yhj-list li.st2{  background-position:-333px -786px;}
.yhj-list li.st3{  background-position:-630px -786px;}
.yhj-list li dl{zoom:1; overflow:hidden; padding:0 35px 0 22px; line-height:45px; padding-top:5px;}
.yhj-list li dt{ float:left; font-size:20px; color:#df592f;}
.yhj-list li dt b{font-size:30px;}
.yhj-list li dd{ float:right; font-size:15px;}
.yhj-list li .t{ padding-left:24px; color:#666; line-height:21px;}

/*弹出框*/
.mem-dlg{ width:660px; font-family:"微软雅黑";}
.mem-dlg .tit{ background:#F1F1F1; border:1px solid #ddd; height:66px;border-radius:8px 8px 0 0;}
.mem-dlg .tit .mc{ font-size:22px; color:#666; line-height:66px; padding-left:24px; float:left;}
.mem-dlg .tit .clo{ width:40px; height:40px; background:url(../images/mem-bg.png) -35px -376px; float:right; display:inline; margin-right:12px; margin-top:13px;}
.mem-dlg .k{ background:url(../images/se-titbg.png);border-radius:0 0 8px 8px; padding:30px 60px;border:1px solid #ddd;border-top:none;}
.mem-dlg .k .ipt1{ height:48px; border:1px solid #ddd; padding:0 0 0 10px; margin:0px; background:#fff;border-radius:8px; font-size:16px; color:#666;font-family:"微软雅黑"; line-height:48px\9;}
.mem-dlg .k .ipt1.l{border-radius:8px 0 0 8px;}
.mem-dlg .k .tab1 td{ font-size:20px; color:#999;font-family:"微软雅黑"; padding:10px;}
.mem-btn3{ width:100px; background:#F04915; border:1px solid #ddd;border-left:none; height:50px; font-size:16px;font-family:"微软雅黑"; color:#fff;border-radius:0 8px 8px 0; cursor:pointer; display: inline-block;}
.mem-btn2{ width:230px; height:55px;line-height: 55px; background:#F04815; font-size:22px;font-family:"微软雅黑"; color:#fff;border-radius:8px; border:none; cursor:pointer;}
.mem-btn2.h{ background:#ccc;}
.mem-btn2.h1{ background:#999;}
.ico-star{ width:51px; height:48px; background:url(../images/mem-bg.png) -445px -18px; display:inline-block;}
.ico-star.h{background:url(../images/mem-bg.png) -537px -18px;}
.pj-list{ width:820px; overflow:hidden;}
.pj-list ul{ width:900px;}
.pj-list li{ width:396px; height:298px; background:#fff; overflow:hidden; border:1px solid #ddd; border-radius:8px; float:left; margin-right:24px; margin-top:20px; display:inline;}
.pj-list li.on{ border:1px solid #DF592F;}
.pj-list li.on .t{ background:#DF592F;}
.pj-list li .t{ height:39px; background:#8C8C8C; font-size:20px; line-height:39px; padding-left:20px; color:#fff;}
.pj-list li .tab2 td{ font-size:18px; color:#999;font-family:"微软雅黑";}
.pj-list li .tab2 .ipa{ width:99%; height:110px; border:1px solid #ddd;border-radius:8px; font-size:18px; color:#999; background:#F1F1F1; text-indent:10px;font-family:"微软雅黑"; }
.mem-dlg .k1{ background:#fff;border-radius:0 0 8px 8px; padding:30px 35px;border:1px solid #ddd;border-top:none;}
.mem-dlg .k2{ background:#fff;border-radius:0 0 8px 8px; padding:30px 60px;border:1px solid #ddd;border-top:none;}
.mem-dlg .k2 .ipt2{ height:43px; line-height:43px; border:1px solid #ddd; background:#F1F1F1; text-indent: 5px}
.mem-dlg .k2 .tab2 td{ font-size:20px; color:#999;font-family:"微软雅黑"; padding:8px 10px;}

.mem-dlg .k2 .tab2 label{ cursor:pointer;}
.mem-dlg .k2 .tab2 label i.chk{ height:26px; width:26px; display:inline-block; background:url(../images/se-bg.png) -63px -298px; vertical-align:-6px;}
.mem-dlg .k2 .tab2 label i.chk.ed{background:url(../images/se-bg.png) -118px -298px;}
.mem-dlg .k3{background:#fff;border-radius:0 0 8px 8px; padding:20px 20px;border:1px solid #ddd;border-top:none;}
.mem-dlg .k3 .tab3 td { font-size:14px; color:#666; height:30px;}
.mask{width: 100%; height: 100%; position: fixed; z-index: 99; top: 0px; left: 0px; overflow: hidden;opacity: 0.7; background: rgb(0, 0, 0);}
.js_MASK{width:100%; height: 100%;position:fixed;top:0;left:0;z-index:1000;background:#000}
.js_DIA{ display: none; position: fixed; z-index: 1001;top:-1020px;left:0;}



/*翻页*/
.wm-page1{float:right; padding-left:1px;}
.wm-page1 a, .wm-page1 span{ border:1px solid #DDDDDD; height:27px; padding:0 12px; background:#fff; line-height:27px; line-height:29px\9; overflow:hidden; margin-left:-1px; float:left; display:inline; color:#666;}
.wm-page1 a:hover{ text-decoration:none;border:1px solid #999; position:relative; color:#666;}
.wm-page1 span{ color:#ccc;}
.wm-page1 span.on{ background:#F1F1F1;}
.wm-page1 .nobd{ border:none; color:#999; color:#666; background:none;}
.wm-page1 .nobd:hover{ border:none;}
.wm-page1 input{height:27px; line-height:29px; padding:0px; border:1px solid #DDDDDD; width:42px; float:left; text-align:center; color:#666;}
.wm-page1 input:hover{border:1px solid #999;}
.wm-page1 .radius-l{border-radius: 3px 0 0 3px;}
.wm-page1 .radius-r{border-radius: 0 3px 3px 0;}