{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zh_cjdianc/template/public/ygcss.css">
<ul class="nav nav-tabs">
	<span class="ygxian"></span>
	<div class="ygdangq">当前位置:</div>    
	<li ><a href="{php echo $this->createWebUrl2('dlservice')}">送达时间</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl2('dladdservice',array('op'=>'post'))}">添加送达开放时间段</a></li>
</ul>
<div class="main">
	<div class="panel panel-default ygdefault">
		<div class="panel-heading wyheader">送达时间段 详情</div>
		<div class="panel-body">
			<form class="form-horizontal" action="" method="POST">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
					<div class="col-sm-9">
						<input type="number" class="form-control" value="{$item['num']}" name="num">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">时间点</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" value="{$item['time']}" name="time">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" name="submit" value="提交" class="btn col-lg-3 col-lg-offset-3" style="color: white;background-color: #44ABF7;"/>
					<input type="hidden" name="token" value="{$_W['token']}" />
					<input type="hidden" name="id" value="{$item['id']}" />
				</div>

			</form>

		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$("#frame-0").show();
		$("#yframe-0").addClass("wyactive");
	})
</script>
{template 'common/footer'}