/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */
a {
	color: #7e8c8d;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
}

li {
	list-style: none;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 0px;
	background-color: rgba(125, 125, 125, 0.7);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 0px;
	background-color: rgba(125, 125, 125, 0.7);
	-webkit-border-radius: 6px;
}

html, body {
	width: 100%;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: '微软雅黑';
	-webkit-overflow-scrolling: touch;
}

body {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img{
	pointer-events: none;
}
/*1像素解决方案*/
.border-1px-t{border-top: 1px solid #e0e0e0}
.border-1px-b{border-bottom: 1px solid #e0e0e0}
.border-1px-tb{border-top: #e0e0e0 1px solid;border-bottom: #e0e0e0 1px solid;background-image: none}
.border-1px-l{border-left: 1px solid #e0e0e0}
.border-1px-r{border-right: 1px solid #e0e0e0}
.border-1px{border: 1px solid #e0e0e0}
.border-1px-radius{border: 1px solid #e0e0e0;border-radius: 4px}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.border-1px-radius{position: relative; border: 0}
	.border-1px-radius:before{content: ""; width: 200%; height: 200%; position: absolute; top: 0; left: 0; border: 1px solid #e0e0e0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 0; padding: 1px; -webkit-box-sizing: border-box; border-radius: 8px; pointer-events: none}
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.border-1px{position: relative; border: 0}
	.border-1px-t,.border-1px-b,.border-1px-l,.border-1px-r,.border-1px-tb{border: 0}
	.border-1px-t{background-position: left top; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-b{background-position: left bottom; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-t,.border-1px-b,.border-1px-tb{background-repeat: repeat-x; -webkit-background-size: 100% 1px}
	.border-1px-tb{background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)); background-position: top,bottom}
	.border-1px-l{background-position: left top; background-image: -webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-r{background-position: right top; background-image: -webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-l,.border-1px-r{background-repeat: repeat-y; -webkit-background-size: 1px 100%}
	.border-1px:after{content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)); -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%; background-size: 100% 1px,1px 100%,100% 1px,1px 100%; -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%; background-size: 100% 1px,1px 100%,100% 1px,1px 100%; background-repeat: no-repeat; background-position: top,right,bottom,left; padding: 1px; -webkit-box-sizing: border-box; z-index: 10; pointer-events: none}
}

/*vant样式修改*/
/*取消有赞的1像素线*/
.border-0px::after{
	display: none;
}
/*有赞按钮禁用*/
.van-button--disabled {
	color: #999!important;
	background-color: #eee!important;
	border: 1px solid #eee!important;
}
/*页面主体content,无法记录滚动位置*/
.content{
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling:touch;
	background-color: #f5f5f5;
}
.content::-webkit-scrollbar {
	display: none;
}
#public-footer~.content{
	bottom: 50px;
}
#public-header~#public-footer~.content{
	top: 46px;
}
#public-header~.content{
	top: 46px;
}
#follow~#public-header~#public-footer~.content, #follow~#public-header~.content{
	top: 102px;
}
#follow~#public-footer~.content, #follow~.content{
	top: 56px;
}
/*页面主体container, 可以记录滚动位置*/
.container{
	background-color: #f5f5f5;
	position: relative;
}
.container::-webkit-scrollbar {
	display: none;
}
#public-footer~.container{
	padding-bottom: 50px;
}
#public-header~#public-footer~.container{
	padding-top: 46px;
}
#public-header~.container{
	padding-top: 46px;
}
#follow~#public-header{
	top: 56px;
}
#follow~#public-header~#public-footer~.container, #follow~#public-header~.container{
	padding-top: 102px;
}
#follow~#public-footer~.container, #follow~.container{
	padding-top: 56px;
}
/*分割线divide*/
.divide{
	position: relative;
	height: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.divide .divide-line{
	margin: 0 10px;
	height: 0;
	font-size: 0;
	border-top: 1px dotted #ddd;
}
.divide::before,.divide::after{
	content: "";
	position: absolute;
	top: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #f4f4f4;
}
.divide::before{
	left: -6px;
}
.divide::after{
	right: -6px;
}

/*样式辅助线*/
.br{
	border: 1px solid red;
}
/*flex布局*/
.flex{
	display: flex;
	align-items: center;
}
/*flex两端对齐布局*/
.flex-lr{
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.flex-center{
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}
.flex-lr-bottom{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: space-between;
}
.flex-1{
	flex: 1;
}
/*文本对齐*/
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
/*浮动*/
.float-left{
	float: left;
}
.float-right{
	float: right;
}
/*超出显示省略号*/
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*颜色*/
.c-danger{
	color: #ff2d4b!important;
}
.c-default{
	color: #333;
}
.c-primary{
	color: #4b0;
}
.c-disabled{
	color: #ccc!important;
}
.c-gray{
	color: #999;
}
.c-info{
	color: #5bc0de;
}
.c-white{
	color: #fff;
}
.bg-danger{
	background-color: #ff2d4b!important;
	color: #fff!important;
	border-color: #ff2d4b!important;
}
.bg-yellow{
	color: #333;
	background: #FFD161;
}
.bg-warning{
	color: #fff!important;
	background-color: #f0ad4e!important;
	border-color: #f0ad4e!important;
}
.bg-primary{
	color: #fff;
	background-color: #4b0;
}
.bg-success{
	color: #fff;
	background-color: #5cb85c;
}
.bg-info{
	color: #fff;
	background-color: #5bc0de;
}
.bg-default{
	color: #333;
	background-color: #fff;
}
.bg-gray{
	background-color: #f5f5f5!important;
}
/*内边距*/
.padding-5-b{
	padding-bottom: 5px;
}
.padding-5-r{
	padding-right: 5px;
}
.padding-5-l{
	padding-left: 5px;
}
.padding-5-t{
	padding-top: 5px;
}
.padding-5-lr{
	padding-left: 5px;
	padding-right: 5px;
}
.padding-10{
	padding: 10px!important;
}
.padding-10-l{
	padding-left: 10px!important;
}
.padding-10-r{
	padding-right: 10px!important;
}
.padding-10-lr{
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.padding-10-t{
	padding-top: 10px!important;
}
.padding-10-b{
	padding-bottom: 10px!important;
}
.padding-10-tb{
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.padding-15{
	padding: 15px!important;
}
.padding-15-l{
	padding-left: 15px!important;
}
.padding-15-r{
	padding-right: 15px!important;
}
.padding-15-lr{
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.padding-15-t{
	padding-top: 15px!important;
}
.padding-15-b{
	padding-bottom: 15px!important;
}
.padding-15-tb{
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}
/*外边距*/
.margin-10{
	margin: 10px!important;
}
.margin-10-l{
	margin-left: 10px!important;
}
.margin-10-r{
	margin-right: 10px!important;
}
.margin-10-lr{
	margin: 0px 10px!important;
}
.margin-10-t{
	margin-top: 10px!important;
}
.margin-10-b{
	margin-bottom: 10px!important;
}
.margin-10-tb{
	margin: 10px 0!important;
}
.margin-15{
	margin: 15px!important;
}
.margin-15-l{
	margin-left: 15px!important;
}
.margin-15-r{
	margin-right: 15px!important;
}
.margin-15-lr{
	margin: 0px 15px!important;
}
.margin-15-t{
	margin-top: 15px!important;
}
.margin-15-b{
	margin-bottom: 15px!important;
}
.margin-15-tb{
	margin-top: 15px!important;
	margin-bottom: 15px!important;
}
.margin-5-r{
	margin-right: 5px;
}
.margin-5-l{
	margin-left: 5px;
}
.margin-5-t{
	margin-top: 5px;
}
.margin-5-b{
	margin-bottom: 5px;
}
/*字号*/
.font-12{
	font-size: 12px!important;
}
.font-13{
	font-size: 13px!important;
}
.font-14{
	font-size: 14px!important;
}
.font-15{
	font-size: 15px!important;
}
.font-16{
	font-size: 16px!important;
}
.font-18{
	font-size: 18px!important;
}
.font-20{
	font-size: 20px!important;
}
.font-24{
	font-size: 24px!important;
}
/*加粗*/
.font-bold{
	font-weight: bold;
}
.font-500{
	font-weight: 500;
}
/*隐藏*/
.hide{
	display: none;
}
.opacity-1{
	opacity: 0;
}
/*图片*/
.img-100{
	width: 100%;
	height: 100%;
}
.w-100{
	width: 100%;
}
/*加载完成*/
.loaded{
	position:relative;
	width:65%;
	margin:21px auto 0;
	line-height:11px;
	font-size:14px;
	text-align:center;
	vertical-align:center;
	border-top:1px solid #e5e5e5;
	color:#999;
}
.loaded .loaded-tips {
	position:relative;
	top:-11px;
	background:#f5f5f5;
	padding:0 6px;
	display:inline-block;
	vertical-align:middle;
	height:20px;
	line-height:20px;
}
/*宽度100%*/
.width-100{
	width: 100%;
}

/*分享遮罩*/
.share-zhezhao{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 99999999999;
}
.share-zhezhao img{
	width: 100%;
}

/*电话图标样式*/
.icon-telephone-circle{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e7e7e7;
	border-radius: 100%;
	background-color: #fff;
	color: #656565;
	text-align: center;
}
.icon-axe{
	width: 16px;
	height: 16px;
	background: url("../img/cut.png") no-repeat;
	background-size: 100% 100%;
}

/*公共的标签样式*/
.tag{
	font-size: 12px;
	padding: 1px 2px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.tag.tag-success{
	border: 1px solid #1ab394;
	color: #1ab394;
}
.tag.tag-danger{
	border: 1px solid #ff2a4b;
	color: #ff2a4b;
}
.tag.tag-svip{
	border: 1px solid #CFCDBC;
	color: #A18230;
}

.line-through{
	text-decoration: line-through;
}

/*订单状态切换栏*/
.tab-group{
	width: 100%;
	position: fixed;
	top: 46px;
	z-index: 10;
	left: 0;
	right: 0;
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	color: #333;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.tab-group .tab-item{
	width: 25%;
	height: 100%;
	text-align: center;
	font-size: 14px;
	position: relative;
	flex: 1;
}
.tab-group .tab-item.active{
	color: #ff2d4b;
}
.tab-group .tab-item.active:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	border-bottom: 2px solid #ff2d4b;
}

.no-data{
	/*position: absolute;*/
	/*top: 200px;*/
	/*left: 0;*/
	padding-top: 200px;
	width: 100%;
	min-height: 400px;
	text-align: center;
	color: #768491;
	font-size: 16px;
}
.no-data img{
	max-width: 25%;
	vertical-align: middle;
}
.no-data p{
	margin: 20px 0;
}
.no-data .navigator{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	background: #ff2d4b;
	padding: 0 10px;
	border-radius: 35px;
	min-width: 120px;
}

.radius-3{
	border-radius: 3px;
}
.radius-5{
	border-radius: 5px;
}

.line-12{
	line-height: 1.2;
}

/*下拉刷新遮挡问题*/
.van-pull-refresh{
	overflow: visible!important;
}
.van-button--disabled {
	color: #999!important;
	background-color: #eee!important;
	border: 1px solid #eee!important;
}

/*生成海报、投诉等按钮*/
.right-btn{
	position: fixed;
	z-index: 10;
	top: 100px;
	right: 15px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
}
.right-btn .btn-item{
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: rgba(255, 45, 75, 0.6);
	color: #fff;
	font-size: 12px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	line-height: 1.2;
	margin-bottom: 10px;
}

/*兼容升级vant到1.6.7之后van-radio样式问题*/
.van-radio__icon--checked .van-icon{
	background-color: #ff2d4b!important;
	border-color: #ff2d4b!important;
}
.van-icon.van-icon-success:before{
	content: "\e649";
}
/*兼容van-rate样式*/
.van-icon-star-o:before {
	content: "\e73d"!important;
}
.van-icon-star:before {
	content: "\e7fa"!important;
}

#__vconsole .vc-switch{
	z-index: 100000001!important;
}
#__vconsole .vc-mask{
	z-index: 100000002!important;
}
#__vconsole .vc-panel{
	z-index: 100000003!important;
}