/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */
a {
	color: #7e8c8d;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
}

li {
	list-style: none;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 0px;
	background-color: rgba(125, 125, 125, 0.7);
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 0px;
	background-color: rgba(125, 125, 125, 0.7);
	-webkit-border-radius: 6px;
}

html, body {
	width: 100%;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: '微软雅黑';
	-webkit-overflow-scrolling: touch;
}

body {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img{
	pointer-events: none;
}
/*1像素解决方案*/
.border-1px-t{border-top: 1px solid #e0e0e0}
.border-1px-b{border-bottom: 1px solid #e0e0e0}
.border-1px-tb{border-top: #e0e0e0 1px solid;border-bottom: #e0e0e0 1px solid;background-image: none}
.border-1px-l{border-left: 1px solid #e0e0e0}
.border-1px-r{border-right: 1px solid #e0e0e0}
.border-1px{border: 1px solid #e0e0e0}
.border-1px-radius{border: 1px solid #e0e0e0;border-radius: 4px}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.border-1px-radius{position: relative; border: 0}
	.border-1px-radius:before{content: ""; width: 200%; height: 200%; position: absolute; top: 0; left: 0; border: 1px solid #e0e0e0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 0; padding: 1px; -webkit-box-sizing: border-box; border-radius: 8px; pointer-events: none}
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.border-1px{position: relative; border: 0}
	.border-1px-t,.border-1px-b,.border-1px-l,.border-1px-r,.border-1px-tb{border: 0}
	.border-1px-t{background-position: left top; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-b{background-position: left bottom; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-t,.border-1px-b,.border-1px-tb{background-repeat: repeat-x; -webkit-background-size: 100% 1px}
	.border-1px-tb{background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)); background-position: top,bottom}
	.border-1px-l{background-position: left top; background-image: -webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-r{background-position: right top; background-image: -webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))}
	.border-1px-l,.border-1px-r{background-repeat: repeat-y; -webkit-background-size: 1px 100%}
	.border-1px:after{content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)); -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%; background-size: 100% 1px,1px 100%,100% 1px,1px 100%; -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%; background-size: 100% 1px,1px 100%,100% 1px,1px 100%; background-repeat: no-repeat; background-position: top,right,bottom,left; padding: 1px; -webkit-box-sizing: border-box; z-index: 10; pointer-events: none}
}

/*vant样式修改*/
/*取消有赞的1像素线*/
.border-0px::after{
	display: none;
}
/*页面主体content,无法记录滚动位置*/
.content{
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #f5f5f5;
}
.content::-webkit-scrollbar {
	display: none;
}
#public-footer~.content{
	bottom: 50px;
}
#public-header~#public-footer~.content{
	top: 46px;
}
#public-header~.content{
	top: 46px;
}
#follow~#public-header~#public-footer~.content, #follow~#public-header~.content{
	top: 102px;
}
#follow~#public-footer~.content, #follow~.content{
	top: 56px;
}
/*页面主体container, 可以记录滚动位置*/
.container{
	background-color: #f5f5f5;
}
.container::-webkit-scrollbar {
	display: none;
}
#public-footer~.container{
	padding-bottom: 50px;
}
#public-header~#public-footer~.container{
	padding-top: 46px;
}
#follow~#public-header{
	top: 56px;
}
#follow~#public-header~#public-footer~.container, #follow~#public-header~.container{
	padding-top: 102px;
}
#follow~#public-footer~.container, #follow~.container{
	padding-top: 56px;
}
/*分割线divide*/
.divide{
	position: relative;
	height: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.divide .divide-line{
	margin: 0 10px;
	height: 0;
	font-size: 0;
	border-top: 1px dotted #ddd;
}
.divide::before,.divide::after{
	content: "";
	position: absolute;
	top: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #f4f4f4;
}
.divide::before{
	left: -6px;
}
.divide::after{
	right: -6px;
}

/*样式辅助线*/
.br{
	border: 1px solid red;
}
/*flex布局*/
.flex{
	display: flex;
	align-items: center;
}
/*flex两端对齐布局*/
.flex-lr{
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.flex-tb-left{
	display:flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-between;
}
.flex-tb-center{
	display:flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}
/*文本对齐*/
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
/*浮动*/
.float-left{
	float: left;
}
.float-right{
	float: right;
}
/*超出显示省略号*/
.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*颜色*/
.c-danger{
	color: #FF2C4C!important;
}
.c-default{
	color: #333;
}
.c-primary{
	color: #4FAE52;
}
.c-disabled{
	color: #ccc!important;
}
.c-gray{
	color: #7a7a7a;
}
.c-info{
	color: #33aafc;
}
.c-warning{
	color: #f0ad4e;
}
.bg-danger{
	background-color: #FF2C4C!important;
	border-color: #FF2C4C!important;
	color: #fff!important;
}
.bg-yellow{
	color: #333;
	background: #FFD161;
	border-color: #FFD161!important;
}
.bg-warning{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #f0ad4e !important;
}
.bg-primary{
	color: #fff!important;
	background-color: #4FAE52!important;
	border-color: #4FAE52!important;
}
.bg-success{
	color: #fff;
	background-color: #5cb85c;
	border-color: #5cb85c!important;
}
.bg-info{
	color: #fff!important;
	background-color: #33aafc!important;
	border-color: #33aafc!important;
}
.bg-default{
	color: #333;
	background-color: #fff!important;
}
.bg-gray{
	background-color: #f5f5f5;
}
/*有赞按钮禁用*/
.van-button--primary{
	background-color: #4FAE52!important;
}
.van-button--disabled {
	color: #999!important;
	background-color: #eee!important;
	border: 1px solid #eee!important;
}

/*内边距*/
.padding-10{
	padding: 10px!important;
}
.padding-10-l{
	padding-left: 10px!important;
}
.padding-10-r{
	padding-right: 10px!important;
}
.padding-10-lr{
	padding-left: 10px!important;
	padding-right: 10px!important;
}
.padding-10-t{
	padding-top: 10px!important;
}
.padding-10-b{
	padding-bottom: 10px!important;
}
.padding-10-tb{
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.padding-15{
	padding: 15px!important;
}
.padding-15-l{
	padding-left: 15px!important;
}
.padding-15-r{
	padding-right: 15px!important;
}
.padding-15-lr{
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.padding-15-t{
	padding-top: 15px!important;
}
.padding-15-b{
	padding-bottom: 15px!important;
}
.padding-15-tb{
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}
/*外边距*/
.margin-5-t{
	margin-top: 5px;
}
.margin-5-b{
	margin-bottom: 5px;
}
.margin-5-l{
	margin-left: 5px;
}
.margin-5-r{
	margin-right: 5px;
}
.padding-5-t{
	padding-top: 5px;
}
.padding-5-r{
	padding-right: 5px;
}
.padding-5-l{
	padding-left: 5px;
}
.padding-5-b{
	padding-bottom: 5px;
}
.padding-5-lr{
	padding-left: 5px;
	padding-right: 5px;
}
.padding-5-tb{
	padding-top: 5px;
	padding-bottom: 5px;
}
.margin-10{
	margin: 10px!important;
}
.margin-10-l{
	margin-left: 10px!important;
}
.margin-10-r{
	margin-right: 10px!important;
}
.margin-10-lr{
	margin: 0px 10px!important;
}
.margin-10-t{
	margin-top: 10px!important;
}
.margin-10-b{
	margin-bottom: 10px!important;
}
.margin-10-tb{
	margin: 10px 0!important;
}
.margin-15{
	margin: 15px!important;
}
.margin-15-l{
	margin-left: 15px!important;
}
.margin-15-r{
	margin-right: 15px!important;
}
.margin-15-lr{
	margin: 0px 15px!important;
}
.margin-15-t{
	margin-top: 15px!important;
}
.margin-15-b{
	margin-bottom: 15px!important;
}
.margin-15-tb{
	margin: 15px 0!important;
}
/*字号*/
.font-12{
	font-size: 12px!important;
}
.font-13{
	font-size: 13px!important;
}
.font-14{
	font-size: 14px!important;
}
.font-15{
	font-size: 15px!important;
}
.font-16{
	font-size: 16px!important;
}
.font-18{
	font-size: 18px!important;
}
.font-20{
	font-size: 20px!important;
}
.font-24{
	font-size: 24px!important;
}
/*加粗*/
.font-bold{
	font-weight: bold;
}
.font-500{
	font-weight: 500;
}
/*隐藏*/
.hide{
	display: none;
}
.opacity-0{
	opacity: 0;
}
/*图片*/
.img-100{
	width: 100%;
	height: 100%;
}
.w-100{
	width: 100%;
}
.wh-100{
	width: 100%;
	height: 100%;
}
/*加载完成*/
.loaded{
	position:relative;
	width:65%;
	margin:21px auto 0;
	line-height:11px;
	font-size:14px;
	text-align:center;
	vertical-align:center;
	border-top:1px solid #e5e5e5;
	color:#999;
}
.loaded .loaded-tips {
	position:relative;
	top:-11px;
	background:#f5f5f5;
	padding:0 6px;
	display:inline-block;
	vertical-align:middle;
	height:20px;
	line-height:20px;
}
.loaded .loaded-tips.white{
	background-color: #fff;
}
/*宽度100%*/
.width-100{
	width: 100%;
}

/*分享遮罩*/
.share-zhezhao{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 99999999999;
}
.share-zhezhao img{
	width: 100%;
}

/*无数据样式*/
.no-data{
	/*position: absolute;*/
	/*top: 200px;*/
	/*left: 0;*/
	padding-top: 200px;
	width: 100%;
	min-height: 400px;
	text-align: center;
	color: #768491;
	font-size: 16px;
}
.no-data img{
	max-width: 25%;
	vertical-align: middle;
}
.no-data p{
	margin: 20px 0;
}
.no-data .navigator{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	background: #ff2d4b;
	padding: 0 10px;
	border-radius: 35px;
}

/*标签*/
.itag{
	display: inline-block;
	border-radius: 3px;
	font-size: 15px;
	padding: 4px 10px;
	color: #fff;
	background-color: #c9c9c9;
}
.itag.itag-danger{
	background-color: #FF2C4C;
}
.itag.itag-disabled{
	background-color: #8f8f8f;
}
.itag.itag-info{
	background-color: #33aafc;
}
.itag.itag-primary{
	background-color: #4FAE52;
}
.itag.itag-success{
	background-color: #1AC32E;
}

/*宽度为50%的保存按钮*/
.btn-save{
	display: block;
	width: 50%;
	margin: 0 auto;
	background-color: #4fae52;
	padding: 10px 0;
	border-radius: 3px;
	color: #fff;
	text-align: center;
}

/*带单位的input框*/
.input-unit {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #eee;
	border-right: 0px;
}
.input-unit input{
	border-right: 1px solid #eee;
	width: 50px;
	height: 22px;
	text-align: center;
	color: #7a7a7a;
	border-radius: 0px;
}
.input-unit span{
	display: inline-block;
	min-width: 22px;
	padding: 0 5px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border-right: 1px solid #eee;
	color: #7a7a7a;
	font-size: 13px;
	border-left: 0px;
}

/*底部弹出层*/
.van-popup .popup-title{
	height: 44px;
	padding: 0 15px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: #f5f5f5;
}
.van-popup .popup-content{
	min-height: 200px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #f5f5f5;
}

/*van-cell组件title超出换行问题处理，添加no-fix类名*/
.van-cell.no-fix .van-cell__title{
	flex: none;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*van-cell组件自定义label描述信息*/
.van-cell .diy-van-label{
	width: 100%;
	line-height: 1;
	font-size: 12px;
	margin-top: -3px;
	color: #7a7a7a;
}
.van-cell .van-icon.van-icon-arrow{
	color: #999;
	font-size: 12px;
	line-height: 24px;
	margin-left: 5px;
}

/*状态栏*/
.wrap-search{
	width: 100%;
	position: fixed;
	top: 46px;
	z-index: 10;
	left: 0;
	right: 0;
}
.wrap-search .tab-group{
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	color: #333;
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.wrap-search .tab-group .tab-item{
	width: 25%;
	height: 100%;
	text-align: center;
	font-size: 14px;
	position: relative;
	flex: 1;
}
.wrap-search .tab-group .tab-item.active{
	color: #33aafc;
}
.wrap-search .tab-group .tab-item.active:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	border-bottom: 2px solid #33aafc;
}
.wrap-search .van-search{padding: 10px}
.wrap-search~.van-pull-refresh, .wrap-search~.van-list{
	margin-top: 45px;
	border-top: 1px solid #f5f5f5;
}
.wrap-search.wrap-search-input~.van-pull-refresh, .wrap-search.wrap-search-input~.van-list{
	margin-top: 95px;
}
.wrap-search.wrap-search-notab~.van-pull-refresh, .wrap-search.wrap-search-notab~.van-list{
	margin-top: 50px;
}
/*下拉刷新遮挡问题*/
.van-pull-refresh{
	overflow: visible!important;
}
.line-12{
	line-height: 1.2;
}

.icon-telephone1{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e7e7e7;
	border-radius: 100%;
	background-color: #fff;
	color: #656565;
	text-align: center;
}
.line-through{
	text-decoration: line-through;
}

.van-radio .van-icon-checked{
	color: #33aafc!important;
}
.van-checkbox__icon--checked .van-icon {
	color: #fff;
	border-color: #33aafc!important;
	background-color: #33aafc!important;
}



/*仿wui preview*/
.van-form-preview {
	position: relative;
	background-color: #fff;
}
.van-form-preview .van-form-preview:before{
	top: 0;
	border-top: 1px solid #d9d9d9;
}
.van-form-preview .van-form-preview:after,.van-form-preview:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 solid #e5e5e5;
}
.van-form-preview .van-form-preview:after{
	border-bottom-width: 1px;
}
.van-form-preview .van-form-preview:before{
	border-top-width: 1px;
}
.van-form-preview .van-form-preview:after {
	bottom: 0;
	border-bottom: 1px solid #d9d9d9
}
.van-form-preview .van-form-preview__value {
	font-size: 14px
}
.van-form-preview .van-form-preview__value_in-hd {
	font-size: 26px
}
.van-form-preview .van-form-preview__hd {
	position: relative;
	padding: 10px 15px;
	text-align: right;
	line-height: 40px;
	overflow: hidden;
}
.van-form-preview .van-form-preview__hd:after {
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 solid #e5e5e5;
	border-bottom-width: 1px;
}
.van-form-preview .van-form-preview__bd {
	padding: 10px 15px;
	font-size: 15px;
	text-align: right;
	color: #999;
	line-height: 2
}
.van-form-preview .van-form-preview__ft {
	position: relative;
	line-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}
.van-form-preview .van-form-preview__ft:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 solid #e5e5e5;
	border-top-width: 1px;
}
.van-form-preview .van-form-preview__item {
	overflow: hidden
}
.van-form-preview .van-form-preview__label {
	float: left;
	margin-right: 10px;
	min-width: 60px;
	color: #999;
	text-align: justify;
	text-align-last: justify
}
.van-form-preview .van-form-preview__value {
	display: block;
	overflow: hidden;
	word-break: normal;
	word-wrap: break-word
}
.van-form-preview .van-form-preview__btn {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #3cc51f;
	text-align: center
}
.van-form-preview .van-form-preview__btn:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 solid #e5e5e5;
	border-left-width: 1px;
}
.van-form-preview .van-form-preview__btn:first-child:after {
	display: none
}
.van-form-preview .van-form-preview__btn_active {
	background-color: #eee
}
.van-form-preview .van-form-preview__btn_default {
	color: #999
}
.van-form-preview .van-form-preview__btn_primary {
	color: #0bb20c
}
