<{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}><{/block}>
<{block name=loadinghide}><{/block}>
 <{block name=myScrolljs}><{/block}>
 <{block name=footer}><{/block}>
<{block name=hearnav}>
<div data-role="page" > 


<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/weixinlunbo.css">
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/swiper-3.4.1.min.css">
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/tc114.css">
<script src="<{$siteurl}>/js/Swiper/idangerous.swiper.js"></script> 
<link rel="stylesheet" href="<{$siteurl}>/js/jquerymobile/jquery.mobile.min.css" />  
<div class="home_change_head_top">
  <div class="home_change_head_topb" style='position:relative'>
    <div class="home_change_head_left" onClick="dolink('<{ofunc type=url link="/wxsite/choice"}>');"  > <img src="/templates/m7/public/wxsite/images/icon_home_dw.png" /> <span lag="<{$lat|default:0}>" lat="<{$lng|default:0}>" id="showareainfo" ><{if $areaid > 0}><{$mapname}><{else}>定位中...<{/if}></span> <i class="fa fa-angle-right"></i> 
	</div>
<{if $is_open_weather == 1}>	
	<div class="home_change_head_center" style='color:#fff;position: absolute;top: 10px;right: 10px;font-size:16px;'>
	    <img src='<{$weatherinfo['img']}>' style='width:25px;height:25px;margin-bottom: -6px;'><{$weatherinfo['tmp']}>
	</div>
<{/if}>	
    <div class="home_change_head_right" onClick="dolink('<{ofunc type=url link="/wxsite/search"}>');"  >
      <div class="home_change_head_rightinp">
        <input type="text" readonly  placeholder="输入商家或商品名称" />
      </div>
    </div>
	 
  </div>
</div>
<input type="hidden" value="<{$CITY_ID}>" />
<div id="wxbglogo" style="width:100%;text-align:center;display:none;position: fixed; top: 0px;z-index:-1;
 "><img <{ofunc type=img  link="<{$wxbglogo}>"}>  alt="" style="width:40%;width:40%;margin-top:30px;"></div>
<{/block}>
 <{block name=sitetitle}><{$sitename}><{/block}>
 <{block name=blockcontent}> 

 <div id="loadindecContent"> </div>
 <div id="nearnoshop" style="display:none;">
  <div id="nearnoshopshowBox" style="background: #fff;"  >
     <center>
      <div id="noshop1" style="margin-bottom: 0px;height: 115px;width: 250px;"><img style="width: 140px;" <{ofunc type=img  link="/upload/images/nearnoshop.png"}> ></div>
      <div id="noshop2" style="height:55px;line-height:35px;color: #a6a6a6;font-size: 14px;">附近暂未覆盖商家，敬请期待 ... </div>
      <div id="noshop3" style="width: 100px;height:38px;line-height:38px;background: #ff6e6e;text-align:center;border-radius: 5px;" onClick="dolink('<{ofunc type=url link="/wxsite/choice"}>');"><span style="color:#fff;">修改地址</span></div>
    </center>
   </div>
</div>
 <script> 
 showLoading();
var can_show = true;
 var catid = <{$typeid|default:0}>;
var order = 0;
var qsjid = 0;
var typeid = <{$typeid|default:0}>;
var myaddress = '<{$myaddress}>';
var search_input = '<{$search_input|default:''}>';
var shopshowtype  = '<{$shopshowtype|default:'0'}>';
var checknext = false;
var lat = '<{$lat|default:0}>';
var lng = '<{$lng|default:0}>';
var addressname = '<{$addressname|default:''}>';
var CITY_ID = '<{$CITY_ID|default:0}>';
var is_loading = false;  
var GPS = {
    PI : 3.14159265358979324,
    x_pi : 3.14159265358979324 * 3000.0 / 180.0,
    delta : function (lat, lon) {
        // Krasovsky 1940
        //
        // a = 6378245.0, 1/f = 298.3
        // b = a * (1 - f)
        // ee = (a^2 - b^2) / a^2;
        var a = 6378245.0; //  a: 卫星椭球坐标投影到平面地图坐标系的投影因子。
        var ee = 0.00669342162296594323; //  ee: 椭球的偏心率。
        var dLat = this.transformLat(lon - 105.0, lat - 35.0);
        var dLon = this.transformLon(lon - 105.0, lat - 35.0);
        var radLat = lat / 180.0 * this.PI;
        var magic = Math.sin(radLat);
        magic = 1 - ee * magic * magic;
        var sqrtMagic = Math.sqrt(magic);
        dLat = (dLat * 180.0) / ((a * (1 - ee)) / (magic * sqrtMagic) * this.PI);
        dLon = (dLon * 180.0) / (a / sqrtMagic * Math.cos(radLat) * this.PI);
        return {'lat': dLat, 'lon': dLon};
    },
     
    //WGS-84 to GCJ-02
    gcj_encrypt : function (wgsLat, wgsLon) {
        if (this.outOfChina(wgsLat, wgsLon))
            return {'lat': wgsLat, 'lon': wgsLon};
 
        var d = this.delta(wgsLat, wgsLon);
        return {'lat' : wgsLat + d.lat,'lon' : wgsLon + d.lon};
    },
    //GCJ-02 to WGS-84
    gcj_decrypt : function (gcjLat, gcjLon) {
        if (this.outOfChina(gcjLat, gcjLon))
            return {'lat': gcjLat, 'lon': gcjLon};
         
        var d = this.delta(gcjLat, gcjLon);
        return {'lat': gcjLat - d.lat, 'lon': gcjLon - d.lon};
    },
    //GCJ-02 to WGS-84 exactly
    gcj_decrypt_exact : function (gcjLat, gcjLon) {
        var initDelta = 0.01;
        var threshold = 0.000000001;
        var dLat = initDelta, dLon = initDelta;
        var mLat = gcjLat - dLat, mLon = gcjLon - dLon;
        var pLat = gcjLat + dLat, pLon = gcjLon + dLon;
        var wgsLat, wgsLon, i = 0;
        while (1) {
            wgsLat = (mLat + pLat) / 2;
            wgsLon = (mLon + pLon) / 2;
            var tmp = this.gcj_encrypt(wgsLat, wgsLon)
            dLat = tmp.lat - gcjLat;
            dLon = tmp.lon - gcjLon;
            if ((Math.abs(dLat) < threshold) && (Math.abs(dLon) < threshold))
                break;
 
            if (dLat > 0) pLat = wgsLat; else mLat = wgsLat;
            if (dLon > 0) pLon = wgsLon; else mLon = wgsLon;
 
            if (++i > 10000) break;
        }
        //console.log(i);
        return {'lat': wgsLat, 'lon': wgsLon};
    },
    //GCJ-02 to BD-09
    bd_encrypt : function (gcjLat, gcjLon) {
        var x = gcjLon, y = gcjLat;  
        var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * this.x_pi);  
        var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * this.x_pi);  
        bdLon = z * Math.cos(theta) + 0.0065;  
        bdLat = z * Math.sin(theta) + 0.006; 
        return {'lat' : bdLat,'lon' : bdLon};
    },
    //BD-09 to GCJ-02
    bd_decrypt : function (bdLat, bdLon) {
        var x = bdLon - 0.0065, y = bdLat - 0.006;  
        var z = Math.sqrt(x * x + y * y) - 0.00002 * Math.sin(y * this.x_pi);  
        var theta = Math.atan2(y, x) - 0.000003 * Math.cos(x * this.x_pi);  
        var gcjLon = z * Math.cos(theta);  
        var gcjLat = z * Math.sin(theta);
        return {'lat' : gcjLat, 'lon' : gcjLon};
    },
    //WGS-84 to Web mercator
    //mercatorLat -> y mercatorLon -> x
    mercator_encrypt : function(wgsLat, wgsLon) {
        var x = wgsLon * 20037508.34 / 180.;
        var y = Math.log(Math.tan((90. + wgsLat) * this.PI / 360.)) / (this.PI / 180.);
        y = y * 20037508.34 / 180.;
        return {'lat' : y, 'lon' : x};
        /*
        if ((Math.abs(wgsLon) > 180 || Math.abs(wgsLat) > 90))
            return null;
        var x = 6378137.0 * wgsLon * 0.017453292519943295;
        var a = wgsLat * 0.017453292519943295;
        var y = 3189068.5 * Math.log((1.0 + Math.sin(a)) / (1.0 - Math.sin(a)));
        return {'lat' : y, 'lon' : x};
        //*/
    },
    // Web mercator to WGS-84
    // mercatorLat -> y mercatorLon -> x
    mercator_decrypt : function(mercatorLat, mercatorLon) {
        var x = mercatorLon / 20037508.34 * 180.;
        var y = mercatorLat / 20037508.34 * 180.;
        y = 180 / this.PI * (2 * Math.atan(Math.exp(y * this.PI / 180.)) - this.PI / 2);
        return {'lat' : y, 'lon' : x};
        /*
        if (Math.abs(mercatorLon) < 180 && Math.abs(mercatorLat) < 90)
            return null;
        if ((Math.abs(mercatorLon) > 20037508.3427892) || (Math.abs(mercatorLat) > 20037508.3427892))
            return null;
        var a = mercatorLon / 6378137.0 * 57.295779513082323;
        var x = a - (Math.floor(((a + 180.0) / 360.0)) * 360.0);
        var y = (1.5707963267948966 - (2.0 * Math.atan(Math.exp((-1.0 * mercatorLat) / 6378137.0)))) * 57.295779513082323;
        return {'lat' : y, 'lon' : x};
        //*/
    },
    // two point's distance
    distance : function (latA, lonA, latB, lonB) {
        var earthR = 6371000.;
        var x = Math.cos(latA * this.PI / 180.) * Math.cos(latB * this.PI / 180.) * Math.cos((lonA - lonB) * this.PI / 180);
        var y = Math.sin(latA * this.PI / 180.) * Math.sin(latB * this.PI / 180.);
        var s = x + y;
        if (s > 1) s = 1;
        if (s < -1) s = -1;
        var alpha = Math.acos(s);
        var distance = alpha * earthR;
        return distance;
    },
    outOfChina : function (lat, lon) {
        if (lon < 72.004 || lon > 137.8347)
            return true;
        if (lat < 0.8293 || lat > 55.8271)
            return true;
        return false;
    },
    transformLat : function (x, y) {
        var ret = -100.0 + 2.0 * x + 3.0 * y + 0.2 * y * y + 0.1 * x * y + 0.2 * Math.sqrt(Math.abs(x));
        ret += (20.0 * Math.sin(6.0 * x * this.PI) + 20.0 * Math.sin(2.0 * x * this.PI)) * 2.0 / 3.0;
        ret += (20.0 * Math.sin(y * this.PI) + 40.0 * Math.sin(y / 3.0 * this.PI)) * 2.0 / 3.0;
        ret += (160.0 * Math.sin(y / 12.0 * this.PI) + 320 * Math.sin(y * this.PI / 30.0)) * 2.0 / 3.0;
        return ret;
    },
    transformLon : function (x, y) {
        var ret = 300.0 + x + 2.0 * y + 0.1 * x * x + 0.1 * x * y + 0.1 * Math.sqrt(Math.abs(x));
        ret += (20.0 * Math.sin(6.0 * x * this.PI) + 20.0 * Math.sin(2.0 * x * this.PI)) * 2.0 / 3.0;
        ret += (20.0 * Math.sin(x * this.PI) + 40.0 * Math.sin(x / 3.0 * this.PI)) * 2.0 / 3.0;
        ret += (150.0 * Math.sin(x / 12.0 * this.PI) + 300.0 * Math.sin(x / 30.0 * this.PI)) * 2.0 / 3.0;
        return ret;
    }
};
 	<{if !empty($lng) && !empty($lat) &&  !empty($addressname)  }>
 		  loadindexcontent();
		  $('#showareainfo').text(addressname);
    <{else}>   
		<{if is_array($signPackage) &&  $Taction == 'index'}>
		
		<{else}>
		var options = {
			enableHighAccuracy: true,
			maximumAge: 30000,
			timeout: 12000
		} 
		window.locationCallback = function(data1,data2){
		   gpstolng(data1,data2);
		}
		var str = '<iframe src="javascript:(function(){window.navigator.geolocation.getCurrentPosition(function(position){  parent && parent.locationCallback && parent.locationCallback(position.coords.latitude,position.coords.longitude);        }, function(err){}, {enableHighAccuracy : '+ options.enableHighAccuracy +', maximumAge : '+ options.maximumAge +', timeout :'+ options.timeout +'});})()" style="display:none;"></iframe>';
		$('body').append(str);
	   <{/if}>
    <{/if}> 

function demoAddress(){
		var lng = '113.543806';
		var lat = '34.80233';
		 <!-- var GPS = new GPS; --> ,
		var arr2 = GPS.gcj_encrypt(34.803722, 113.54554);
		//alert(arr2['lat']+","+arr2['lon']);
		console.log(arr2['lat']+","+arr2['lon']);
		<!-- var loationdo = 	new WGS84_to_GCJ02().transform(34.80233, 113.543806); -->
		<!-- alert(loationdo); -->
		var formatted_address = '河南省电子商务产业园';
		var adcode = '410100';
		 $.ajax({
           type: 'GET', 
           url: '<{ofunc type=url link="/wxsite/saveloation/datatype/json"}>',
           async:false,
 		   data: {'lat':lat,'lng':lng,'addressname':formatted_address,'adcode':adcode},
           dataType: 'json',success: function(content) { 
               if(content.error == false){ 
					 var areainfo = content.msg.areainfoone;
  					 if( areainfo == '' || areainfo.name == undefined ){
						 setTimeout('goChoiceAdr()',1000);
					 }else{
						CITY_ID = areainfo.adcode;
						loadindexcontent();
					 }
					 
             }else{
             	  loadindexcontent();
             }
	    	  },
           error: function(content) { 
				loadindexcontent();
	        }
       });
	$("#showareainfo").attr('lng',lng);
	$("#showareainfo").attr('lat',lat);
	$("#showareainfo").text(formatted_address);
}  





function getLocation(){
     if (navigator.geolocation)
    { 
       navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
   else{
    
	loadindexcontent();
     $('#showareainfo').text("浏览器不支持定位");
	 setTimeout('goChoiceAdr()',1000);

   }
}  
function showPosition(position)
{  
	gpstolng(position.coords.latitude,position.coords.longitude);
}
function gpstolng(lat,lng){
	var changelnglaturl = '<{$map_comment_link}>restapi.amap.com/v3/assistant/coordinate/convert?locations='+lng+','+lat+'&coordsys=gps&output=json&key=<{$map_webservice_key}>&callback=changelnglat';
      $.getScript(changelnglaturl); 
} 
function changelnglat(datas){
 	if(datas.status == 1   && datas.info == 'ok' ) {
		var locations = datas.locations;
  		 var getaddurl = '<{$map_comment_link}>restapi.amap.com/v3/geocode/regeo?output=json&location='+locations+'&key=<{$map_webservice_key}>&radius=1000&extensions=all&callback=newrenderReverse';
		$.getScript(getaddurl);
	} 
} 




function newrenderReverse(datas){
  	if(datas.status == 1   && datas.info == 'OK' ) {
	    var lnglat = '';
		var adcode = datas.regeocode.addressComponent.adcode;
		var aois = datas.regeocode.aois;
		var pois = datas.regeocode.pois;
		var roads = datas.regeocode.roads;
		if( aois.length > 0 ){ 
			var lnglat  = aois[0].location; 
			var formatted_address = aois[0].name;
		}else if( pois.length > 0 ){
			var lnglat  = pois[0].location; 
			var formatted_address = pois[0].address;
		}else if( roads.length > 0 ){
			var lnglat  = roads[0].location; 
			var formatted_address = roads[0].name;
		} 
		if( lnglat != '' ){
				var lnglatarr = lnglat.split(',');
				lng = lnglatarr[0];
				lat = lnglatarr[1];
		}  

		 $.ajax({
           type: 'POST', 
           url: '<{ofunc type=url link="/wxsite/saveloation/datatype/json"}>',
           async:false,
 		   data: {'lat':lat,'lng':lng,'addressname':formatted_address,'adcode':adcode},
           dataType: 'json',success: function(content) { 
               if(content.error == false){ 
					 var areainfo = content.msg.areainfoone;
  					 if( areainfo == '' || areainfo.name == undefined ){
						 setTimeout('goChoiceAdr()',1000);
					 }else{
						CITY_ID = areainfo.adcode;
						loadindexcontent();
					 }
					 
             }else{
             	  loadindexcontent();
             }
	    	  },
           error: function(content) { 
				loadindexcontent();
	        }
       });  
		 
	 }else{
		 $('#showareainfo').text('定位失败');
		 setTimeout('goChoiceAdr()',1000);
		 loadindexcontent();
 	 }
	$("#showareainfo").attr('lng',lng);
	$("#showareainfo").attr('lat',lat);
	$("#showareainfo").text(formatted_address);
}

 
  function showError(error)
  {
	  setTimeout('goChoiceAdr()',1000);
	  loadindexcontent();
	  $('#showareainfo').text(error.code);
  	$('#showareainfo').text("定位失败");
  	Tmsg("定位失败,请手动选择"); 
   switch(error.code) 
    { 
    case error.PERMISSION_DENIED:
      //x.innerHTML="User denied the request for Geolocation."
    //  $('#showareainfo').text("User denied the request for Geolocation.");
      break;
    case error.POSITION_UNAVAILABLE:
     // x.innerHTML="Location information is unavailable."
      $('#showareainfo').text("Location information is unavailable.");
      break;
    case error.TIMEOUT:
    //  x.innerHTML="The request to get user location timed out."
    //$('#showareainfo').text("The request to get user location timed out.");
      break;
    case error.UNKNOWN_ERROR:
     // x.innerHTML="An unknown error occurred."
     //  $('#showareainfo').text("An unknown error occurred.");
      break;
    } 

	
	
  } 
  
  function loadindexcontent(){
		
		if( CITY_ID <= 0 ){ 
			  var winHeight = $(window).height()-40-33-46-40;
 			  var allHeight = 115+25+50+38;
 			  var paddHeight = (winHeight-allHeight)/1.3;
  			  $('#nearnoshopshowBox').css({'height':winHeight+'px','paddingTop':paddHeight+'px'});
			  $('#loadindecContent').html("");
			  $('#loadindecContent').html( $("#nearnoshop").html() );
			 newhideLoading();
		}else{
				var ajaxurl = '<{ofunc type=url link="/wxsite/loadindexcontent"}>'; 
				$.ajax({
				   type: 'POST',
				   async:true,
				   url: ajaxurl,
				   data: {},
				  dataType: 'html',success: function(content) {  
						$('#loadindecContent').html(content);  
						newhideLoading();
						
				  },
				  error: function(content) { 
						console.log("加载失败");
						newhideLoading();
				   }
				  });
		} 
   
		 
		
		  
		 
		  
  }
  
function htmlback(url,info)
{
	var backmessage = {'flag':true,'content':''};
	$.ajax({
       type: 'POST',
       async:true,
       url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
       data: info,
      dataType: 'html',success: function(content) {  
	   backmessage['flag'] = false;
      	   backmessage['content'] = content; 
		  },
      error: function(content) { 
      backmessage['content'] = '获取失败';
	   }
   });  
   return backmessage;
}

function goChoiceAdr(){
	 //location.href = '<{ofunc type=url link="/wxsite/choice"}>';
 	 var winHeight = $(window).height()-40-33-46-40;
 			  var allHeight = 115+25+50+38;
 			  var paddHeight = (winHeight-allHeight)/2;
  			  $('#nearnoshopshowBox').css({'height':winHeight+'px','paddingTop':paddHeight+'px'});
			  $('#loadindecContent').html("");
			  $('#loadindecContent').html( $("#nearnoshop").html() );
			  newhideLoading();
}  
$(function(){
		$(window).resize(function(){
			$('#dev_wrapper').css({"max-height":$(window).height()});
			$('body').css({"height":$(window).height()});
		});
	
	}); 
</script>
 <style>
body{-webkit-overflow-scrolling: touch;}
.popup_content{height:80%!important;margin-top:20%;}
</style>  

    <{include file="<{$tempdir}>/public/bottom.html"}>

</div>
 <{/block}>