 <{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}> 
 <link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/order.css">
<{/block}>
  <{block name=extendjs}> 
  <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/template.min.js"></script>   
  
 <script> 
  showLoading();
    $(function(){
			$('.toptitBox .toptitL').bind("click", function() {
            window.location.href="<{$siteurl}>/index.php?ctrl=wxsite";
			})
		});
   
  function acceptorder(orderid){  
 
 	if(confirm('确认收货？')){
   	     showLoading();
   		   var url = siteurl+'/index.php?ctrl=order&action=acceptorder&orderid='+orderid+'&datatype=json&random=@random@';   
 	        $.ajax({ 
           dataType: "json",  
           url: url.replace('@random@', 1+Math.round(Math.random()*1000)),  
           success: function(content) {    
           	 if(content.error == false) 
          	{  
           		 setTimeout("newhideLoading()",200); 
				window.location.reload();
				
          	}else{ 
          			Tmsg(content.msg);
          		   setTimeout("newhideLoading()",200); 
          	}  
          	 
	         }, 
           error: function(content) {  
             	Tmsg('提交数据失败');
        	    setTimeout("newhideLoading()",200); 
	         }
       
         });  
     }
     return false; 
   } 
  function quxiaoorder(orderid){  
 
 	 
   	     showLoading(); 
   		   var url = siteurl+'/index.php?ctrl=order&action=userunorder&orderid='+orderid+'&datatype=json&random=@random@';   
 	        $.ajax({ 
           dataType: "json",  
           url: url.replace('@random@', 1+Math.round(Math.random()*1000)),  
           success: function(content) {    
           	 if(content.error == false) 
          	{  
           		 setTimeout("newhideLoading()",200); 
				window.location.reload();
				
          	}else{ 
          			Tmsg(content.msg);
          		   setTimeout("newhideLoading()",200); 
          	}  
          	 
	         }, 
           error: function(content) {  
             	Tmsg('提交数据失败');
        	     setTimeout("newhideLoading()",200); 
	         }
       
         });  
      
     return false; 
   } 
    
   
 function delorder(orderid){  
 
 	if(confirm('确认删除？')){
   	     showLoading(); 
   		   var url = siteurl+'/index.php?ctrl=order&action=userdelorder&orderid='+orderid+'&datatype=json&random=@random@';   
 	        $.ajax({ 
           dataType: "json",  
           url: url.replace('@random@', 1+Math.round(Math.random()*1000)),  
           success: function(content) {    
           	 if(content.error == false) 
          	{  
           		 setTimeout("newhideLoading()",200); 
				window.location.reload();
				
          	}else{ 
          			Tmsg(content.msg);
          		  setTimeout("newhideLoading()",200); 
          	}  
          	 
	         }, 
           error: function(content) {  
             	Tmsg('提交数据失败');
        	     setTimeout("newhideLoading()",200); 
	         }
       
         });  
     }
     return false; 
   } 

 	</script>
 
<script>
var defaultSwiper; //默认的滚动控件名 
var holdPosition = 0; 
var maxposition = 0;
var page =1;
var pageend = false;
var html5_config = {'showheader':true,'showfooter':true,'bodyscller':true,'Canfresh':true,'CanloadMore':true,'titilename':'外卖频道'}; 

$(function(){
	loading();
});
function freshpage(){//刷新函数 
 showLoading();
  page =1;
  pageend = false;
    $('#orderlist').html(''); 
	var content = htmlback(siteurl+'/index.php?ctrl=wxsite&action=userptorder',{'page':page});
  	if(content.flag == false){
 	     $('#orderlist').append(content.content);    
				if($.trim(content.content) != '' && $("#orderlist .editordercon").length >= 5  ){
 					$("#lodingmore").show();
				} 
				if(  $.trim(content.content) == ''  ){
					htmlNull(1,'您还没有此类订单','nullorderimg.png');
				}else{
					htmlNull(0);
				}
				 setTimeout("newhideLoading()",200); 
				defaultSwiper.refresh();
	}else{
		 setTimeout("newhideLoading()",200); 
	    Tmsg('xxxx');
	}  
	hidefresh();
    //setTimeout("hidefresh()",50);  
}
function loadmore(){
	showLoading();
	page = page+1;
	   var content = htmlback(siteurl+'/index.php?ctrl=wxsite&action=userptorder',{'page':page});
		if(content.flag == false){
		$('#lodingmore .moreLoading i').addClass('iconstartloading');
	    $('#lodingmore .moreLoading i').removeClass('iconloading');
	    $('#lodingmore .moreLoading i').removeClass('iconOverload');
		$("#lodingmore span").text("上拉更多...");
		 setTimeout("newhideLoading()",200); 
		   var getmoreContent =  $.trim(content.content); 
  		   if( getmoreContent == ''  ){
 				pageend = true;
				$('#lodingmore .moreLoading i').removeClass('iconstartloading');
				$('#lodingmore .moreLoading i').removeClass('iconloading');
				$('#lodingmore .moreLoading i').addClass('iconOverload');
				$("#lodingmore span").text("加载完毕...");
		   }else{
				 $('#orderlist').append(content.content);
		   }
		  
		}else{
			pageend = true;
			$('#lodingmore .moreLoading i').removeClass('iconstartloading');
			$('#lodingmore .moreLoading i').removeClass('iconloading');
	     	$('#lodingmore .moreLoading i').addClass('iconOverload');
			 setTimeout("newhideLoading()",200); 
			$("#lodingmore span").text("加载完毕...");
		}
		//  setTimeout("hideloadmore()",500);  
		hideloadmore();
	
} 
  
//加载页面函数
function loading(){
 	if(typeof html5_config == 'undefined'){
		alert('获取失败');
	}else{ 
	    
		if(html5_config.bodyscller == true){
 			 setTimeout(function(){  
				$('#wrapper').show();    
				 addfresh();
				 
			 },500);
		}
	 //	$('#loading').hide();
		//loaddata();
		
	}
}  
</script>
<{/block}>
<{block name=myScrolljs}>
<style>
.shanchuedit{ 
    background-color: #ff6e6e;
    color: #fff;
	width: 72px;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
	line-height: 30px;
    position: absolute;
    top: 80px;
    right: 5px;
	text-align: center;
}
.editorderbut ul li .editordinp1 {
    background-color: #ff6e6e;
    color: #fff;
	width: 72px;
    height: 25px;
    border-radius: 3px;
    font-size: 14px;
	line-height: 25px;
	text-align: center;
}
.editorderbut ul li .editordinp2 {
    border: 1px solid #bfbfbf;
    background-color: transparent;
    color: #000000;
	width: 72px;
    height: 25px;
    border-radius: 3px;
    font-size: 14px;
	 line-height: 25px;
	    text-align: center;
}
</style> 
<{/block}>
<{block name=hearnav}>

<div class="toptitCon">
 <div class="toptitBox">
  <div class="toptitL"><i></i></div>
  <div class="toptitC"><h3>跑腿订单</h3></div>
 </div>
</div>
<{/block}>
<{block name=sitetitle}><{$sitename}><{/block}>
<{block name=blockcontent}> 
<style>
p{padding:0px; margin:0px;}
.zhezhao,.zhezhaox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 9;
	display:none; 
}
.wdow,.wdowx{
    width: 80%;
    background-color: #fff;
    height: 135px;
    border-radius: 5px;
    margin: 60% auto;
	}
.tishi,.tishix{
    width: 100%;
    height: 94px;
    border-bottom: 1px solid #f0f0f0;	 
}
.tishix{
    text-align: center;
    font-weight: bold;
    line-height: 94px;
}
.tstext,.tstextx{
    padding: 20px;
    line-height: 30px;
}
.deletebtn div,.deletebtnx div{
    display:inline-block;
	text-align:center;
	width:48.5%;
	height:40px;
	line-height:40px;
	font-size: 14px;
}
.nobtn,.nobtnx{
    border-right: 1px solid #f0f0f0;	
}
.p1{ 
    text-align: center;    
	line-height: 48px;
    font-weight: bold;
}
.p2{
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
}
</style>

<div class='zhezhao'>
	<div class='wdow'>
		<div class='tishi'>
		    <p class='p1'>提示</p>
			<p class='p2'></p>
		</div>
		<div class='deletebtn' data=''>
		    <div class='nobtn'>取消</div>
		    <a class='callphone' href="tel:<{$litel}>">
			    <div class='yesbtn' style='color:#ff6e6e'>联系客服</div>
			</a>
		</div>
	</div> 
</div> 

 
<input id='noworder' type='hidden' value=''>
<script>
function subreback(status){
    if(status < 3){
        $('.p2').text('配送员已接单，请联系平台客服处理');
    }else{
        $('.p2').text('配送员已取货，请联系平台客服处理');
    }
    $('.zhezhao').show();
}
$('.nobtn').bind('click',function(){
   $('.zhezhao').hide();
   orderid = $('#noworder').val();
   $('#order_'+orderid).attr('onclick','showorderdet('+orderid+')')
})

</script>
 <div id="wrapper" style="top:40px; ">
	<div id="scroller">

	<{if !empty($checkorder)}>
   <div id="orderlist">
   </div>
   <{else}>
	<div style='text-align:center;  padding-top:50%;'>
		<img src="<{$siteurl}>/upload/images/emptyorder.png">
		<p style='text-align:center;font-size:14px;color:#999999'>暂无订单~<p>
	</div>	
	<{/if}>	
	
	
	<div  id="lodingmore"   style="display:none;"   class="downLoading "><div class="moreLoading"><i class="iconstartloading"></i><span>上拉更多...</span></div></div>
   
</div>
</div>
 
 
 
  
<{/block}>