 <{extends file="<{$tempdir}>/public/admin.html"}> 
 <{block name=extendjs}>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js"></script>
 <{/block}>
 <{block name=controlname}>阿里大于短信对接设置<{/block}>
 <{block name=bodylist}> 
	
	  <div style="width:auto;overflow-x:hidden;overflow-y:auto;">   
          <div id="tagscontent">
            <form method="post" name="form1" action="<{ofunc type=url link="/adminpage/system/module/savealidayu/datatype/json"}>" onsubmit="return subform('',this);">
              <div>
                <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                  <tbody>
                    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left" style='font-size: 14px;font-weight: bolder;'>模板名称</td>
                      <td>
					  <span  style='font-size: 14px;font-weight: bolder;margin-left: 35px;'>模板ID</span>
					  <span  style='font-size: 14px;font-weight: bolder;margin-left: 100px;'>模板内容</span>
					  </td>
                    </tr>
				    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">系统消息【验证码】</td>
                      <td><input type="text" name="alicode1" id="alicode1" value="<{$alicode1}>" class="skey" style="width:110px;">
					  您好，尊敬的会员,验证码为：${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">用户注册【验证码】</td>
                      <td><input type="text" name="alicode2" id="alicode2" value="<{$alicode2}>" class="skey" style="width:110px;">
					  用户注册，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">登录【验证码】</td>
                      <td><input type="text" name="alicode3" id="alicode3" value="<{$alicode3}>" class="skey" style="width:110px;">
					  登录，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">找回密码【验证码】</td>
                      <td><input type="text" name="alicode4" id="alicode4" value="<{$alicode5}>" class="skey" style="width:110px;">
					  找回密码，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">更换手机号【验证码】</td>
                      <td><input type="text" name="alicode5" id="alicode5" value="<{$alicode5}>" class="skey" style="width:110px;">
					  换绑手机号，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">手机快捷登录【验证码】</td>
                      <td><input type="text" name="alicode6" id="alicode6" value="<{$alicode6}>" class="skey" style="width:110px;">
					 手机快捷登录，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。 
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">更换密码【验证码】</td>
                      <td><input type="text" name="alicode7" id="alicode7" value="<{$alicode7}>" class="skey" style="width:110px;">
					  更换密码，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">下单【验证码】</td>
                      <td><input type="text" name="alicode8" id="alicode8" value="<{$alicode8}>" class="skey" style="width:110px;">
					  下单，验证码:${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">APP用户登录【验证码】</td>
                      <td><input type="text" name="alicode9" id="alicode9" value="<{$alicode9}>" class="skey" style="width:110px;">
					  APP用户登录，验证码${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">新绑定手机号【验证码】</td>
                      <td><input type="text" name="alicode10" id="alicode10" value="<{$alicode10}>" class="skey" style="width:110px;">
					  新绑定手机号，验证码${code}，该验证码3分钟内有效，请勿泄漏于他人。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">退款失败通知【短信通知】</td>
                      <td><input type="text" name="alimsg1" id="alimsg1" value="<{$alimsg1}>" class="skey" style="width:110px;">
					  抱歉，您提交的退款申请未通过，详情请咨询客服。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">退款成功【短信通知】</td>
                      <td><input type="text" name="alimsg2" id="alimsg2" value="<{$alimsg2}>" class="skey" style="width:110px;">
					  您的退款申请已经处理，请注意查收付款账户！
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">关闭订单通知【短信通知】</td>
                      <td><input type="text" name="alimsg3" id="alimsg3" value="<{$alimsg3}>" class="skey" style="width:110px;">
					  编号为${dno}的订单被取消，原因${reason}，取消时间${time}。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">商家不制作订单通知【短信通知】</td>
                      <td><input type="text" name="alimsg4" id="alimsg4" value="<{$alimsg4}>" class="skey" style="width:110px;">
					  您在${sitename}的订单，由于${shopname}太忙，暂时无法接单。请选择其他商家，给您带来不便敬请谅解。
					  </td>
                    </tr>
                    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">商家制作订单通知【短信通知】</td>
                      <td><input type="text" name="alimsg5" id="alimsg5" value="<{$alimsg5}>" class="skey" style="width:110px;">
					 订单${dno}，${shopname}已确认接单，请耐心等待。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">下单成功通知买家【短信通知】</td>
                      <td><input type="text" name="alimsg6" id="alimsg6" value="<{$alimsg6}>" class="skey" style="width:110px;">
					  尊敬的${buyername}，您已在${shopname}下单成功，订单编号${dno}。
					  </td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">下单成功通知商家【短信通知】</td>
                      <td><input type="text" name="alimsg7" id="alimsg7" value="<{$alimsg7}>" class="skey" style="width:110px;">
					  尊敬的${shopname}，您有新的订单，请及时处理！
					  </td>
                    </tr>
				


				    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">Access Key ID</td>
                      <td><input type="text" name="aliid" id="aliid" value="<{$aliid}>" class="skey" style="width:200px;">在阿里云控制台获取</td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">Access Key Secret</td>
                      <td><input type="text" name="alisecret" id="alisecret" value="<{$alisecret}>" class="skey" style="width:200px;">在阿里云控制台获取</td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">短信签名</td>
                      <td><input type="text" name="aliqm" id="aliqm" value="<{$aliqm}>" class="skey" style="width:200px;">
					  注：该短信签名要与客户在阿里云-云通讯申请的短信签名保证绝对一致
					  </td>
                    </tr>   
                     <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">申请说明</td>
                      <td> 
					   公司自有产品外卖平台，在用户注册、登录、更换或找回密码等操作中，为了安全起见需要发送手机验证码，在用户下单过程中，为了给客户提供更好的服务，特申请阿里云短信服务让用户及时得到订单状态的变化信息，外卖平台网站：http://www.xxx.com
					  </td>
                    </tr>  					
                  </tbody>
                </table>
              </div>
              <div class="blank20"></div>
              <input type="hidden" name="tijiao" id="tijiao" value="do" class="skey" style="width:250px;">
              <input type="hidden" name="saction" id="saction" value="savealidayu" class="skey" style="width:250px;">
               <input type="submit" value="确认提交" class="button">  
            </form>
          </div>
         
           
         </div>
      
    

          </div> 
 
 <{/block}>