  <{extends file="<{$tempdir}>/public/admin.html"}> 
 <{block name=extendjs}>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js"></script>
<script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/datepicker/WdatePicker.js"></script>
 <{/block}>
 <{block name=controlname}><{/block}>
 <{block name=bodylist}> 
    <div class="managShopCon">
        <div class="managShopBox">
            <div class="managShopMain">
                <{include file="<{$tempdir}>/public/commentcate.html"}>
                
                <div class="addShopSingCon">
                    <!--<{if !empty($admininfo['cityid']) && !empty($admininfo)  }>-->
                    
                    <div id="tagscontent">
                      <div>
                      <form method="post" name="form1" action="<{ofunc type=url link="/areaadminpage/weixin/module/savewxkefu/datatype/json"}>" onsubmit="return subform('',this);">
                        <div>
                          <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                            <tbody>


                                                   

                                                   <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                                  <td class="left">微信客服设置</td>
                                  <td><input type="radio" name="wxkefu_open"   value="1"  <{if $station1['wxkefu_open']== 1}>checked<{/if}>>开启
                                      <input type="radio" name="wxkefu_open"   value="0"  <{if $station1['wxkefu_open']== 0}>checked<{/if}>>关闭
                                                          </td>
                               </tr>


                              <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                                  <td class="left">个人二维码</td>
                                  <td>
                                      <input type="hidden" name="wxkefu_ewm" id="wxkefu_ewm" value="<{$station1['wxkefu_ewm']}>" class="skey" style="width:100px;">
                                      <img  <{ofunc type=img link="<{$station1['wxkefu_ewm']}>" }>    width=150px height=150px id="imgwxkefu_ewm" <{if  empty($station1['wxkefu_ewm'])}> style="display:none;"<{/if}>>
                                      <span onclick="uploadw();">上传图片</span>
                                  </td>
                              </tr>
                              <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                                <td class="left">微信客服logo</td>
                                <td>
                                    <input type="hidden" name="wxkefu_logo" id="wxkefu_logo" value="<{$station1['wxkefu_logo']}>" class="skey" style="width:100px;">
                                    <img   <{ofunc type=img link="<{$station1['wxkefu_logo']}>" }>    width=40px height=40px id="imgwxkefu_logo" <{if  empty($station1['wxkefu_logo'])}> style="display:none;"<{/if}>>
                                    <span onclick="uploadwx();">上传图片</span>
                                </td>
                              </tr>
                                                   <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="#ffffff">
                                <td class="left">电话</td>
                                <td><input type="text" name="wxkefu_phone" id="wxkefu_phone" value="<{$station1['wxkefu_phone']}>" class="skey" style="width:250px;"></td>
                              </tr>

                                                  
                                                   

                                                   


                            </tbody>
                          </table>
                        </div>
                        <div class="blank20"></div>
                        <input type="hidden" name="tijiao" id="tijiao" value="do" class="skey" style="width:250px;">
                        <input type="hidden" name="saction" id="saction" value="siteset" class="skey" style="width:250px;">
                         <input type="submit" value="确认提交" class="button">  
                      </form>
                      </div>
                    </div>
<!--                    <{else}>

                    <div style="height:40px;line-height:40px;text-align:left;font-weight:bold;font-size:20px;border:none;padding-left:30px;margin-top:10px;background-color:#fff;color:#F00;">分站未绑定所属城市</div>
                    <{/if}>-->
                </div>
            </div> 
        </div> 
    </div> 
    <div class="clear"></div>
<script>
	var dialogs ;
 function uploadw(){
        dialogs = art.dialog.open('<{ofunc type=url link="/areaadminpage/other/module/adminupload/func/uploadsuceswebc"}>');
        dialogs.title('上传图片');
    }
    function uploadsuceswebc(flag,obj,linkurl){
        if(flag == true){
            
            dialogs.close();
            uploadw();
        }else{
            
            dialogs.close();
            $('#wxkefu_ewm').val(linkurl);
            $('#imgwxkefu_ewm').attr('src',linkurl);
            $('#imgwxkefu_ewm').show();
        }
    }
    function uploadwx(){
        dialogs = art.dialog.open('<{ofunc type=url link="/areaadminpage/other/module/adminupload/func/uploadsuceswx"}>');
        dialogs.title('上传图片');
    }
    function uploadsuceswx(flag,obj,linkurl){
        if(flag == true){
            
            dialogs.close();
            uploadwx();
        }else{
            
            dialogs.close();
            $('#wxkefu_logo').val(linkurl);
            $('#imgwxkefu_logo').attr('src',linkurl);
            $('#imgwxkefu_logo').show();
        }
    }
</script>	
	
 <{/block}>