@charset "utf-8";
/* CSS Document */

/*top///////////购物车的头部*/
/*.logintopContainer{ width:100%; overflow:hidden; padding:4px 0; border-bottom:1px solid #c5c5c5;}
.logintopBox{ width:1200px; margin:0 auto; padding:36px 0; overflow:hidden;}
.logintopLeft{ float:left;}
.logintopRight{ float:left; margin:10px 0 0 154px;}*/
/*End*/

/*shopping*/
.shoppingcartContainer{ width:100%px;}
.shoppingcartBox{ width:1200px; margin:0 auto;}
.shoppingcarttit{ padding:16px 0;}
.shoppingcarttit h1{ font-size:22px; color:#666666; line-height:30px; height:30px;}
.shoppingcarttit p{ font-size:12px; color:#a9a9a9; line-height:20px; height:20px;}
.ommotit{ width:1200px; background-color:#36b269; overflow:hidden;}
.ommotit ul li{ float:left; font-size:12px; color:#FFF; line-height:34px; height:34px; text-align:center;}
.ommotit ul li input{ margin:11px 0 0 16px; float:left; cursor:pointer;}
.shopBox{ width:1200px; overflow:hidden; margin-top:18px; padding-bottom:30px;}
.shopBox h2{ width:1200px; color:#01662a; font-size:18px; line-height:35px; height:35px; border-bottom:1px solid #36b26a;}
.shopBox .checkorder ul li{ float:left; text-align:center; font-size:12px; border-bottom:1px solid #c1f7d7; line-height:100px; height:100px; background-color:#f4fff9;}
.shopBox .checkorder ul li p{word-break: break-all; word-wrap:break-word; line-height:24px; padding:20px 0; text-align:left;}
.shopBox .checkorder ul li img{ width:60px; height:60px; margin:0 auto; border:1px solid #CCC; margin-top:20px; display:block;}
.shopBox .cz a{ margin:0 5px; cursor:pointer;}
.settlementBox{ width:1200px; background-color:#f9f9f9; border-bottom:1px solid #e9e9e9; overflow:hidden;}
.settlementBox ul li{ background-color:#f9f9f9; line-height:50px; height:50px; border:0px; margin:0 20px; float:left;}
.settlementBox ul li a{ cursor:pointer;}
.settlementBox ul li span{ color:#F00;}
.settlebutton{ float:right;}
.settlebutton input{ width:135px; height:39px; border:0px; margin:5px 10px 0 0; cursor:pointer;}
.settlebutton .jxgw{ background-image:url(../images/shoppingjxgw.png);}
.settlebutton .qjs{ background-image:url(../images/shoppingqjs.png);}
label：hover{ cursor:pointerl}
/*End*/

/*shoppingcart1*/
.shoppingtit h2{ width:1200px; color:#01662a; font-size:18px; line-height:35px; height:35px; border-bottom:1px solid #36b26a;}
.shoppaddress{ width:1200px; margin-top:10px;}
.shoppaddtit{ width:1200px; overflow:hidden; background-color:#fafafa; line-height:40px; height:40px; color:#36b269; border-bottom:2px solid #36b269;}
.shoppaddtit ul li{ width:128px; text-align:center; float:left; cursor:pointer;}
.shoppaddtit ul li:hover{ background-color:#36b269; color:#FFF;}
.shoppaddtit .addaA{ background-color:#36b269; color:#FFF;}
.topic{ width:1200px; line-height:42px; margin-bottom:10px; color:#333333; overflow:hidden;}
.topic ul{ height:40px; border-bottom:2px solid #e6e6e6;}
.topic ul li{ width:117px; text-align:center; float:left; font-weight:bold; cursor:pointer;}
.topic ul li:hover{ background-image:url(../images/shoppingjt.png); background-repeat:no-repeat; background-position:left bottom; color:#36b269;}
.topicAa{ background-image:url(../images/shoppingjt.png); background-repeat:no-repeat; background-position:bottom left; color:#36b269;}
.topicAa1{ background-image:url(../images/shoppingjt.png); background-repeat:no-repeat; background-position:bottom left; color:#36b269;}
.topicBox{ width:1098px; border:1px solid #e6e6e6; padding:3px 50px;}
.topicboxt{ width:1098px; border-bottom:1px solid #e5e5e5;}
.topicboxt ul li{ line-height:50px;}
.topicboxt ul li a{ float:left; text-align:right;}
.topicboxt ul li a span{ font-size:12px; color:#333333; width:84px; float:right;}
.topicboxt ul li a span i{ color:#f00; padding-right:6px;}
.topicboxt ul li select{ width:138px; height:28px; border:1px solid #cccccc;}

.jd{ width:480px; height:28px; border:1px solid #cccccc;}
.shr{ width:130px; height:28px; border:1px solid #cccccc;}
.dh{ width:130px; height:28px; border:1px solid #cccccc;}
.topicboxb{ width:1098px; padding:0 0 8px 13px; border-bottom:1px dotted #e5e5e5;}
.topicboxb h3{ line-height:40px; font-size:14px; font-weight:normal; color:#333333;}
.topicboxb ul{ padding-left:13px;}
.topicboxb ul li{ font-size:12px; color:#666666; line-height:30px;}
.topicboxb ul li input{ width:12px; height:12px; background-color:transparent; cursor:pointer; margin-right:5px;}
.messageremarks{ width:1187px; padding:0 0 22px 13px; overflow:hidden;}
.messageremarks h3{ line-height:40px; font-size:14px; font-weight:normal; float:left; color:#333333;}
.messageremarks p{ line-height:40px; font-size:12px; color:#808080;}
.messageremarks input{ width:627px; height:34px; border:1px solid #cccccc; color:#CCC; font-size:14px; padding:0 7px;}
.paymentmethod{ width:1200px; padding-top:42px;}
.paymentmethodBox{ width:1198px; border:1px solid #36b269; background-color:#f9f9f9; overflow:hidden; padding:30px 0;}
.paymentmethodBox ul li{ float:left; width:137px; height:35px; background-color:#FFF; border:1px solid #dddddd; margin:0 10px; padding:20px 10px; overflow:hidden; cursor:pointer;}
.paymentmethodBox ul li input{ float:left; margin:8px 10px; width:16px; height:16px; cursor:pointer;}
.paymentmethodBox ul li img{ float:left;}
.paymentmethodBox label{ cursor:pointer;}
.productBox{ width:1198px; border:1px solid #36b269; margin-top:38px;}
.producttit{ width:1198px; background-color:#36b269; overflow:hidden;}
.producttit ul li{ float:left; color:#FFF; text-align:center;}
.porductCon{ width:1198px;}
.porductCon ul{ width:1198px; overflow:hidden; border-bottom:1px solid #ebebeb; padding:15px 0;}
.porductCon ul li{ float:left; overflow:hidden; line-height:60px; text-align:center;}
.porductCon ul li img{ width:60px; height:60px; border:1px solid #cccccc; float:left; margin:0 14px;}
.porductCon ul li p{ width:310px; float:left; font-size:12px; line-height:29px; text-align:left;}
.porductCon ul li span{ color:#F00;}
.productb{ width:1198px; background-color:#fafafa; overflow:hidden;}
.productb ul{ float:right; overflow:hidden;}
.productb ul li{ float:left; line-height:42px; margin:0 21px; font-size:12px; color:#666666;}
.productb ul li span{ color:#f00;}
.productb ul li input{ margin:0 6px; cursor:pointer;}
.productb ul li label{ cursor:pointer;}
.productbom{ width:1198px; overflow:hidden;}
.productbom ul{ float:right; overflow:hidden;}
.productbom ul li{ float:left; line-height:42px; margin:0 21px; font-size:14px; color:#666666;}
.productbom ul li span{ color:#f00;}
.productbom ul li a{ font-size:16px; color:#666666; font-weight:bold;}
.productbom ul li a span{ font-size:18px; margin-left:16px;}
.productbutton{ width:1200px; overflow:hidden; padding-bottom:40px;}
.productbuttonL{ float:left; font-size:12px; line-height:175px; color:#666666;}
.productbuttonL a{ font-size:12px; color:#5ebd83; margin-left:8px;}
.productbuttonL a:hover{ text-decoration:underline;}
.productbuttonR{ float:right; overflow:hidden; padding-top:46px;}
.productbuttonR .fhgwc{ float:left; width:152px; height:48px; border:1px solid #cccccc; background-color:#FFF; background-image:url(../images/fhgw.png); margin:0 8px; cursor:pointer;}
.productbuttonR .tjdd{ float:left; width:146px; height:48px; background-color:#ea4200; border:0px; font-size:16px; color:#FFF; margin:0 8px; cursor:pointer;}
.productbuttonR .tjdd:hover{ background-color:#d43c02;}
/*End*/

/*shoppingcart2*/
.topicboxt1{ width:1098px; border-bottom:1px dotted #e5e5e5; padding-bottom:20px; overflow:hidden;}
.topicboxt1 h3{ line-height:40px; font-size:14px; font-weight:normal; color:#333333;}

.addressBox{ width:211px; height:125px; border:1px solid #e7e7e7; padding:3px 14px; background-image:url(../images/shoppingzfbg2.png); background-repeat:no-repeat; background-position:right bottom; position:relative; cursor:pointer; float:left;}
.addressBox h4{ font-size:14px; color:#666666; line-height:32px; border-bottom:1px dotted #d8d8d8;}
.addressBox h4 a{ font-size:14px; padding-left:8px; color:#666666;}
.addressBox ul li{ font-size:14px; color:#666666; line-height:30px;}
.addressBox ul li p{ line-height:24px;}
.addressdw{ width:239px; height:131px; border:1px solid #ff4400; background-image:url(../images/shoppingzfbg1.png); background-repeat:no-repeat; background-position:bottom right; position:absolute; left:-1px; top:-1px;}

.addressBox1{ width:211px; height:125px; border:1px solid #e7e7e7; padding:3px 14px; background-image:url(../images/shoppingzfbg2.png); background-repeat:no-repeat; background-position:right bottom; position:relative; cursor:pointer; float:left; margin:0 20px;}
.addressBox1 h4{ font-size:14px; color:#666666; line-height:32px; border-bottom:1px dotted #d8d8d8;}
.addressBox1 h4 a{ font-size:14px; padding-left:8px; color:#666666;}
.addressBox1 ul li{ font-size:14px; color:#666666; line-height:30px;}
.addressBox1 ul li p{ line-height:24px;}
.addressdw1{ width:239px; height:131px; border:1px solid #ff4400; background-image:url(../images/shoppingzfbg1.png); background-repeat:no-repeat; background-position:bottom right; position:absolute; left:-1px; top:-1px; display:none;}

.addressBox2{ width:211px; height:125px; border:1px solid #e7e7e7; padding:3px 14px; background-image:url(../images/shoppingzfbg2.png); background-repeat:no-repeat; background-position:right bottom; position:relative; cursor:pointer; float:left;}
.addressBox2 h4{ font-size:14px; color:#666666; line-height:32px; border-bottom:1px dotted #d8d8d8;}
.addressBox2 h4 a{ font-size:14px; padding-left:8px; color:#666666;}
.addressBox2 ul li{ font-size:14px; color:#666666; line-height:30px;}
.addressBox2 ul li p{ line-height:24px;}
.addressdw2{ width:239px; height:131px; border:1px solid #ff4400; background-image:url(../images/shoppingzfbg1.png); background-repeat:no-repeat; background-position:bottom right; position:absolute; left:-1px; top:-1px; display:none;}
.tjdz{ float:right; overflow:hidden; padding-top:118px;}
.tjdz span{ display:block; float:left; background-image:url(../images/tj.png); width:15px; height:15px;}
.tjdz a{ float:left; font-size:14px; color:#5ebd83; line-height:14px; margin-left:8px;}
/*End*/

/*shoppingcart3*/
.xzmd{ width:130px; height:27px; background-color:#FFF; border:1px solid #cccccc; font-size:14px; color:#666666; cursor:pointer; background-image:url(../images/shoppingzfbg2.png); background-repeat:no-repeat; background-position:bottom right;}
.selectdw{ width:130px; height:27px; background-color:transparent; border:1px solid #fe4602; font-size:14px; color:#666666; cursor:pointer; background-image:url(../images/ddzt.png); background-repeat:no-repeat; background-position:bottom right;}
.xzmd:hover{border:1px solid #fe4602; background-image:url(../images/ddzt.png); background-repeat:no-repeat; background-position:bottom right;}
/*End*/

/*shoppingcart5*/
.topicboxb1{ width:1098px; padding:20px 0 20px 13px; overflow:hidden; border-bottom:1px dotted #e5e5e5;}
.topicboxb1 h3{ line-height:30px; font-size:14px; float:left; font-weight:normal; color:#333333;}
.topicboxb1 p{ line-height:30px; font-size:14px; color:#666666;}
.topicboxb1 span{ color:#f00; float:left; line-height:34px; margin-right:3px;}
.topicboxb1 input{ float:left; width:190px; height:28px; border:1px solid #a0a0a0; color:#cccccc; padding-left:10px;}
.topicboxb1 a{ font-size:12px; color:#666666; line-height:30px;}
/*End*/

/*加减*/
.min{ width:27px; height:27px; border:0px; background-color:#b5ebcd; color:#1b9f51; cursor:pointer;}
.min:hover{ background-color:#77c69a; color:#FFF;}
.text_box{ width:25px; height:25px; border:1px solid #e6e9ee; text-align:center !important;}
.add{ width:27px; height:27px; border:0px; background-color:#b5ebcd; color:#1b9f51; cursor:pointer;}
.add:hover{ background-color:#77c69a; color:#FFF;}
/*End*/

.w10{ width:10px;}
.w20{ width:20px;}
.w30{ width:30px;}
.w40{ width:40px;}
.w50{ width:50px;}
.w60{ width:60px;}
.w70{ width:70px;}
.w80{ width:80px;}
.w90{ width:90px;}
.w100{ width:100px;}
.w110{ width:110px;}
.w120{ width:120px;}
.w125{ width:125px;}
.w130{ width:130px;}
.w140{ width:140px;}
.w150{ width:150px;}
.w160{ width:160px;}
.w170{ width:170px;}
.w180{ width:180px;}
.w190{ width:190px;}
.w200{ width:200px;}
.w210{ width:210px;}
.w220{ width:220px;}
.w230{ width:230px;}
.w240{ width:240px;}
.w250{ width:50px;}
.w260{ width:260px;}
.w270{ width:270px;}
.w280{ width:280px;}
.w290{ width:290px;}
.w300{ width:300px;}
.w310{ width:310px;}
.w320{ width:320px;}
.w330{ width:330px;}
.w340{ width:340px;}
.w350{ width:350px;}
.w360{ width:360px;}
.w370{ width:370px;}
.w380{ width:380px;}
.w390{ width:390px;}
.w400{ width:400px;}
.w410{ width:410px;}
.w420{ width:420px;}
.w430{ width:430px;}
.w440{ width:440px;}
.w450{ width:450px;}
.w460{ width:460px;}
.w470{ width:470px;}
.w480{ width:480px;}
.w490{ width:490px;}
.w500{ width:500px;}
.w510{ width:510px;}
.w520{ width:520px;}
.w530{ width:530px;}
.w540{ width:540px;}
.w550{ width:550px;}
.w560{ width:560px;}
.w570{ width:570px;}
.w580{ width:580px;}
.w590{ width:590px;}
.w600{ width:600px;}