@charset "utf-8";


/*-----------------------充值-----------------------*/

.balRechTopCon{
	width: 100%;
	line-height: 75px;
	text-align: center;
	background: #fff;
}

.balRechTopCon i{
	width: 12px;
	height: 13px;
	display: inline-block;
	background-image: url(../images/icon-qd.png);
	background-size: 100%;
	vertical-align: -1px;
}

.balRechTopCon .balRechTopFon1{
	font-size: 12px;
	color: #333333;
}

.balRechTopCon .balRechTopFon2{
	font-size: 18px;
	color: #ff0000;
}

.balRechTopCon .balRechTopFon2 b{
	font-size: 30px;
	color: #ff0000;
	font-weight: normal;
}

.balRechTab{
	width: 100%;
	margin-top: 10px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.balRechTab ul{
	height: 45px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

.balRechTab ul li{
	width: 50%;
	line-height: 43px;
	font-size: 16px;
	color: #333333;
	text-align: center;
}

.balRechTab ul .bareTaA{
	color: #ff6e6e;
	border-bottom: 2px solid #ff6e6e;
}

.balRechInp{
	margin: 10px  2.7777% 0 2.7777%;
	padding: 10px 0;
	border:1px solid #e6e6e6;
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
}

.balRechInp input{
	margin-left: 10px;
	outline: none;
}

.balRechCho{
	padding-left: 2.7777%;
	overflow: hidden;
}

.balRechCho ul li{
	width: 30.2857%;
	margin: 10px 2.0571% 0 0;
	padding: 10px 0;
	text-align: center;
	background: #fff;
	border:1px solid #e6e6e6;
	border-radius: 4px;
	float: left;
}

.balRechCho ul li .baRspFon1{
	font-size: 24px;
	color: #333333;
	display: block;
}

.balRechCho ul li .baRspFon1 b{
	font-size: 14px;
	font-weight: normal;
}

.balRechCho ul li .baRspFon2{
	font-size: 12px;
	color: #808080;
	display: block;
}

.balRechCho ul li .baRspCol{
	color: #ff6e6e;
}

.balRechCho ul .baRliaA{
	border: 1px solid #ff6e6e;
	background:#fff url(../images/icon-Rsj.png) no-repeat right bottom;
}

.balRechCho ul .baRliaA span,.balRechCho ul .baRliaA span b{
	color: #ff6e6e;
}

.balRechProm{
	width: 100%;
	line-height: 35px;
	margin-top: 10px;
	font-size: 14px;
	color: #ff6e6e;
	text-align: center;
	border-top: 1px solid #d6d6d6;
	background: #fcfbe3;
	overflow: hidden;
}

.balRechBut{
	padding: 14px 2.7777%;
	background: #fff;
	overflow: hidden;
}

.balRechBut input{
	width: 100%;
	height: 40px;
	font-size: 16px;
	color: #ffffff;
	border-radius: 4px;
	background: #ff6e6e;
}