 <{extends file="<{$tempdir}>/public/admin.html"}> 
 
 <{block name=controlname}>微信一起说置顶留言<{/block}>
 <{block name=bodylist}>
 
 <script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/artdialog/plugins/iframeTools.js"></script>
    <div style="width:auto;overflow-x:hidden;overflow-y:auto">

           <div class="tags">



          <div id="tagscontent">

            <div id="con_one_1">

              <div class="table_td" style="margin-top:10px;">

              <form method="post" action="" onsubmit="return remind();" id="delform">

                  <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">

                    <thead>

                      <tr>

                        <th width="60px"><input type="checkbox" id="chkall" name="chkall" onclick="checkall()"></th>

                        <th align="center">id</th>
                         <th align="center">用户名</th>
                         <th align="center">发表主题</th>
                         <th align="center">所发图片</th>
                        <th align="center">添加时间</th>
                        <th align="center">所赞总数</th>
                         <th align="center">被举报总数</th>
                        <th align="center">操作</th>

                      </tr>

                    </thead>

                     <tbody>

                  
		                 	<{foreach from=$togethersaylist item=items}>
                      <tr class="s_out"<{if $items['beijubaoshu'] >10 }> onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='#ffef87';"  bgcolor="#ffef87 " <{else}>  onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';"  bgcolor="#ffffff " <{/if}> >
                        <td align="center" ><input type="checkbox" name="id[]" value="<{$items['id']}>"></td>
                        <td align="center"><{$items['id']}></td>
                        <td align="center"><{$items['username']}></td>
                        <td align="center"> <{$items['usercontent']|htmlspecialchars_decode}> </td>
                        <td align="center"><{if $items['userimg'] == ''}> 无图<{else}><span style="cursor:pointer;" onclick="chakansay(<{$items['id']}>);">点击查看图片</span><{/if}>  </td>
                        <td align="center"><{$items['addtime']|date_format:"%Y-%m-%d %H:%M:%S"}></td>					
						  <td align="center"><{$items['zongzanshu']}></td>			
						 <td <{if $items['beijubaoshu'] >10 }> style="color: #F00; font-size:20px; font-weight:bold;" <{/if}> align="center"><{$items['beijubaoshu']}></td>
						  
                        <td align="center">
                        <!-- 	<a href="<{ofunc type=url link="/adminpage/news/module/addnews/id/<{$items['id']}>"}>" ><img src="<{$siteurl}>/templates/<{$tempdir}>/public/images/admin/edit.jpg"></a> -->
                        	<a onclick="return remind(this);" href="<{ofunc type=url link="/adminpage/weixin/module/delwxusersay/id/<{$items['id']}>/datatype/json"}>"><img src="<{$siteurl}>/templates/<{$tempdir}>/public/images/admin/del.jpg"></a></td>
                      </tr>
                       <{/foreach}>

                    </tbody>

                  </table>

                <div class="blank20"></div>

                </form>

                <div class="page_newc">
                 	      <div class="select_page"><a href="#" onclick="checkword(true);">全选</a>/<a href="#" onclick="checkword(false);">取消</a> <a onclick="return remindall(this);" href="<{ofunc type=url link="/adminpage/weixin/module/delwxusersay/datatype/json"}>" class="delurl">删除</a> </div>
                       <div class="show_page"><ul><{$list['pagecontent']}></ul></div>
                 </div>

               <div class="blank20"></div>

              </div>

            </div>

          </div>

        </div>


  </div>

 
 

	<h2 style="background-color: #ebe7dc; height:36px; line-height:36px;color: #1B4670; font-size:14px;  padding-left:15px;  text-align: center; ') no-repeat">添加置顶留言，仅显示最近添加的一条消息</h2>

 
 
 
 
   <{load_data assign="info" table="member" where="`uid`=$id"  type="one"}> 
   <div style="width:auto;overflow-x:hidden;overflow-y:auto"> 
          <div class="tags"> 
          <div id="tagscontent">
            <form method="post" name="form1" action="<{ofunc type=url link="/adminpage/weixin/module/saveglywxmsg/datatype/json"}>" onsubmit="return subform('<{ofunc type=url link="/adminpage/weixin/module/glywxmsg"}>',this);">
              <div>
                 <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                  <tbody>

         
                    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff" id="selecttrstart">
                      <td class="left">发表主题</td>
                      <td><textarea style="width:550px; height:150px;" name="glyfabucontent"></textarea></td>
                    </tr>
					

			<tr>
			    <td class="left">上传图片</td>
				<td>
						<form id="form1" action="index.php" method="post" enctype="multipart/form-data">
							
							
							<div id="divStatus">0 个文件已上传</div>
								<div>
									<span id="spanButtonPlaceHolder"></span>
									<input id="btnCancel" type="button" value="取消所有上传" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;margin-top:-21px;" />
								</div>
							<!--<div class="fieldset flash" id="fsUploadProgress">-->
								<!--<span class="legend">快速上传</span>-->
						  <!--</div>-->
						</form>
</td>

</tr> 



                    <input type="hidden" name="uid" id="uid" value="<{$info['id']}>" class="skey" style="width:150px;">
					<input type="hidden" name="userimg" id="userimg" value="<{$info['userimg']}>">
                  </tbody>
                </table>
              </div>
              <div class="blank20"></div>
              <input type="hidden" name="tijiao" id="tijiao" value="do" class="skey" style="width:250px;">
              <input type="hidden" name="saction" id="saction" value="siteset" class="skey" style="width:250px;">
               <input type="submit" value="确认提交" class="button">  
            </form>
          </div>
        </div>
        <div class="blank20"></div> 
      
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>








</div> 
<script>

var dialogs ;
function chakansay(sayid){
		 dialogs = art.dialog.open(siteurl+'/index.php?ctrl=adminpage&action=weixin&module=chakansayimgs&sayid='+sayid,{height:'600px',width:'800px'},false);	 	
}

	
 function uploads(){
 	  dialogs = art.dialog.open('<{ofunc type=url link="/adminpage/other/module/adminsayupload/func/uploadsucess/type/adv"}>');
 	  dialogs.title('上传图片');
 }
  function uploadsucess(flag,obj,linkurl){
 	 if(flag == true){
 		alert(linkurl);
		dialogs.close();
		uploads();
 	 }else{
 		 dialogs.close();
 	  $('#img').val(linkurl);
 	  $('#imgshow').attr('src',linkurl);
 	  $('#imgshow').show();
   }
 }


</script>


<script type="text/javascript" src="<{$siteurl}>/js/SWFUpload/swfupload/swfupload.js"></script>
<script type="text/javascript" src="<{$siteurl}>/js/SWFUpload/js/swfupload.queue.js"></script>
<script type="text/javascript" src="<{$siteurl}>/js/SWFUpload/js/fileprogress.js"></script>
<script type="text/javascript" src="<{$siteurl}>/js/SWFUpload/js/handlers.js"></script>  
 
<script type="text/javascript">
		var swfu; 
		window.onload = function() {
			var settings = {
				flash_url : "<{$siteurl}>/js/SWFUpload/swfupload/swfupload.swf",
				upload_url: "<{ofunc type=url link="/adminpage/weixin/module/glyuploadmoreimg/datatype/json"}>",	// Relative to the SWF file
				post_params: "",
				preserve_relative_urls:false,
				file_size_limit : "100 MB",
				file_types : "*.*",
				file_post_name:'imgFile',
				file_types_description : "All Files",
				file_upload_limit : 100,
				file_queue_limit : 0,
				custom_settings : {
					progressTarget : "fsUploadProgress",
					cancelButtonId : "btnCancel"
				},
				debug: false,

				// Button settings
				button_image_url: "<{$siteurl}>/js/SWFUpload/images/TestImageNoText_65x29.png",	// Relative to the Flash file
				button_width: "100",
				button_height: "29",
				button_placeholder_id: "spanButtonPlaceHolder",
				button_text: '<span class="theFont">浏览上传</span>',
				button_text_style: ".theFont { font-size: 14; color:#fff; }",
				button_text_left_padding: 3,
				button_text_top_padding: 6,
				
				// The event handler functions are defined in handlers.js
				file_queued_handler : fileQueued,
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_start_handler : uploadStart,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess23,
				upload_complete_handler : uploadComplete,
				queue_complete_handler : queueComplete	, 

			};

			swfu = new SWFUpload(settings);
			 
			
      
	     };
		function uploadSuccess23(file, serverData) {
	try {		 
		 var obj = JSON.parse(serverData);
		 console.log(obj);
		 if(obj.error == false){
			 /*var progress = new FileProgress(file, swfu.customSettings.progressTarget);
			progress.setComplete();
			progress.setStatus("上传成功"+",路径:"+obj.msg);
			progress.toggleCancel(false);*/
			var checkvalue=$('#userimg').val();
			if(checkvalue==''){
			   $('#userimg').val(obj.msg);
			}else{
			   $('#userimg').val(checkvalue+"@"+obj.msg);
			} 
		 }else{
			 //上传失败
			var progress = new FileProgress(file, swfu.customSettings.progressTarget);
			progress.setError();
			progress.toggleCancel(false);
			progress.setStatus("错误: " + obj.msg);
			swfu.debug("错误: " + obj.msg);
		 }
		 
		//重新构造数据
		

	} catch (ex) {
		swfu.debug(ex);
	}
}
		 function handledoshow(msg){
		    alert(msg);
		 }
	</script>

<{/block}>