@charset "utf-8";

.ordisordRbox{font-size:62.5%!important;  }
 .ordisordRbox div,.ordisordRbox h3,.ordisordRbox span,.ordisordRbox b,.ordisordRbox input{ margin:0px; padding:0px; list-style:none; border:0px;font-size: 120%!important;color:#666;font-family:'微软雅黑'; outline:none;}


.hide{ display:none;}
/*------------------------------------------------------------各类图标------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*热销菜品*/
.ordisordCon{
	width:100%;
	display:box;
	display:-webkit-box;
	display:-moz-box;
	background-color:#f5f5f5;
	overflow:hidden;
	}
.ordisordLeft{
	width:19.7222%;
	background-color:#f5f5f5;
	text-align:center;
	}
.ordisordLeft ul li{
	line-height:49px;
	font-size:1.3rem;
	color:#666666;
	border-bottom:1px solid #e6e6e6;
	overflow:hidden;
	}
 
.ordisordRight{
    width: 100%;
    padding-left: 10px;
    background-color:#fff;
    box-sizing: border-box;
	}
.ordisordRight .ordisordRtit{
	width:100%;
	padding:10px 0;
	overflow:hidden;
	}
.ordisordRight .ordisordRtit ul li{
	width:22.1824%;
	height:29px;
	line-height:29px;
	margin:0 5px 0 0;
	text-align:center;
	font-size:12px;
	color:#666666;
	border:1px solid #cccccc;
	background-color:#fafafa;
	border-radius:3px;
	float:left;
	overflow:hidden;
	}
.ordisordRight .ordisordRtit ul .ordisordRaA{
	color:#ff6e6e;
	border:1px solid #ff6e6e;
	background-color:#f7f7f7;
	}
.ordisordRight .ordisordRbox{
	width:100%;
	overflow:hidden;
	}
.ordisordRight .ordisordRbox ul li{
	width:46.5116%;
	margin-right:3.4778%;
	margin-bottom:10px;
	float:left;
	position:relative;
	}
.ordisordRight .ordisordRbox ul li .ordisordRImg{
	width:100%;
	height:95px;
	overflow:hidden;
	}
.ordisordRight .ordisordRbox ul li .ordisordRImg img{
	width:100%;
	height:100%;
	}
.ordisordRight .ordisordRbox ul li .ordisordRName{
	width:100%;
	padding-top:5px;
	overflow:hidden;
	}
.ordisordRight .ordisordRbox ul li .ordisordRName h3{
	width:100%;
	font-size:1.4rem;
	color:#333333;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-weight:bold;
	overflow:hidden;
	}
.ordisordRight .ordisordRbox ul li .ordisordRSale{
	width:100%;
	padding-top:3px;
	position:relative;
	overflow:hidden;
	height:14px;line-height:14px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRSale span{
	font-size:1.1rem;
	color:#999999;
	}
.ordisordRight .ordisordRbox ul li .ordisordRSale b{
	line-height:16px;
	padding:0 5px;
	display:block;
	font-size:1rem;
	color:#fff;
	background-color:#ff2d55;
	font-weight:normal;
	position:absolute;
	top:1px;
	right:4%;
	border-radius:50px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPric{
	width:100%;
	padding-top:8px;
	font-size:1rem;
	color:#999999;
	overflow:hidden;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPric i{
	font-size:0.9rem;
	color:#ff0000;
	font-style:normal;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPric span{
	    font-size: 1.1rem!important;
	color:#ff0000;
	padding-right:3px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPosit{
	width:100%;
	position:absolute;
	bottom:0px;
	right:0px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPosit .ordisordRPositBut{
 
	}
.ordisordRight .ordisordRbox ul li .ordisordRPosit .min, .ordisordRight .ordisordRbox ul li .ordisordRPosit .add{
	width:28px;
	height:28px;
	background-color:transparent;
	position:absolute;
	top:0px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPosit .min{
	background-image:url(../images/add_01.png);
	background-size:100%;
	left:0px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPosit .add{
	background-image:url(../images/add_02.png);
	background-size:100%;
	right:0px;
	}
.ztadd{
	background-image:url(../images/redjia.png)!important;
}
.ordisordRight .ordisordRbox ul li .ordisordRPosit .text_box{
	width:84%;
 	margin-left:9%;
	line-height:28px;
	font-size:1.5rem;
	color:#ff6e6e;
	text-align:center;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	background-color:#f5f5f5;
	height:26px; line-height:26px;
	}
.ordisordRight .ordisordRbox ul li .ordisordRPosit .optgg{
	padding:0px 5px;
	line-height:22px;
	text-align:center;
	font-size:1.2rem;
	color:#ff6e6e;
	border:1px solid #ff6e6e;
	border-radius:30px;
	display:block;
	float:right;
	background-color:#fff;
	}
