/***幻灯片***/ 
/*店铺 列表***/
 #cuisien{padding:0px;}
#cuisien li{ text-align:center;width:100%;clear:both;display: block; height:40px; line-height:40px; padding:0px; margin:0px;}
.kouweixz{ width:33.3%; float:left;background:#fff; font-size:14px;  height:41px; line-height:41px; border-bottom:1px solid #d9d9d9; text-align:center; color:#0088cc; border-right:1px solid #e5e5e5;}
.kouweixzpx{ width:33.3%; float:left;background:#fff; font-size:14px;  height:41px; line-height:41px; border-bottom:1px solid #d9d9d9; text-align:center; color:#0088cc; border-right:1px solid #e5e5e5;}
.kouweixzqsj{ width:33.3%; float:left;background:#fff; font-size:14px;  height:41px; line-height:41px; border-bottom:1px solid #d9d9d9; text-align:center; color:#0088cc; border-right:1px solid #e5e5e5;}
.kwselected{width:90%; margin:0 auto;}
.kwselectedpx{width:90%; margin:0 auto;}
.kwselectedqsj{width:90%; margin:0 auto;}
.kouweiwx{background:none; color:#323232; font-size:14px; font-weight:normal;}
.kouweiwxpx{background:none; color:#323232; font-size:14px; font-weight:normal;}
.kouweiwxqsj{background:none; color:#323232; font-size:14px; font-weight:normal;}
.kouweiokERR{background:url(../images/kouweiseBg.png) #ffffff right center no-repeat;}
.kouweidiv{ display:none;width:33.3%;background:#ffffff; position:absolute;z-index:999; top:85px; left:0px; border:1px solid #d9d9d9; }
.kouweidivpx{ display:none;width:33.3%;background:#ffffff; position:absolute;z-index:999; margin-top:11%; left:33.3%; border-bottom:1px solid #d9d9d9; }
#cuisienpx{padding:0px;}
#cuisienpx li{ text-align:center;width:100%;clear:both;display: block; height:40px; line-height:40px; padding:0px; margin:0px;border: 1px solid #e5e5e5; background:#fff;font-size: 1.5rem;}
.kouweidivqsj{ display:none;width:33.3%;background:#ffffff; position:absolute;z-index:999; margin-top:11%; left:66.6%; border-bottom:1px solid #d9d9d9; }
#cuisienqsj{padding:0px;}
#cuisienqsj li{ text-align:center;width:100%;clear:both;display: block; height:40px; line-height:40px; padding:0px; margin:0px;border: 1px solid #e5e5e5; background:#fff;font-size: 1.5rem;}
#cuisienpx li.xz {
  background-color: #ff6e6e;
  color: #fff;
}
#cuisienpx li.xz a {
  color: #fff;
}
#cuisienqsj li.xz {
  background-color: #ff6e6e;
  color: #fff;
}
#cuisienqsj li.xz a {
  color: #fff;
}
.branch-list li {
	 
	margin:5px;
height: auto;
overflow: hidden;
padding-top: 8px;
padding-left: 50px;
position: relative; 
border: 1px solid #e5e5e5;
padding-left: 90px;
background: #ffffff;
}
.branch-list li.disabled{
	background: rgba(188, 188, 188, 0.7);
}
.branch-list li img {
width: 60px;
height: 60px;
position: absolute;
left: 10px;
top: 13px;
padding: 2px;
border: 1px solid #e5e5e5;
}
.branch-list li strong {
width: 100%;
font-weight:bold;
font-size:1.4erm;
}
#supplierlist li.disabled:hover{
	background: rgba(188, 188, 188, 0.7)!important; 
}
.branch-list li.clkitm:hover{
		background-color: #FCFCFC!important; 
}
/*店铺列表结束  ******/

 .xinghao, .inputZ {
position: relative;
height: 123px;
width: 100%;
}
.container section textarea {
width: 100%;
min-height: 100px;
padding: 0;
margin: 5px 0 0 0;
line-height: 24px;
white-space: normal;
border: 1px solid #e5e5e5;
padding-left: 10px;
}

.xinghao, .inputZ {
position: relative;
height: 123px;
width: 100%;
}
.inputZ {
height: 41px;
}
.miaoshu {
padding: 10px;
display: block;
}
.container section input {
border: 1px solid #e5e5e5;
}

.qisong p {
display: inline-block;
line-height: 12px;
font-size:1rem;
}
.address{
 font-size:1rem;
}
.qisong p:nth-child(1) {
padding-right: 7px;
border-right: 1px solid #e5e5e5;
margin-right: 7px;
}
.shanbqs {
display: block;
position: absolute;
color: #ffffff;
background: #ea5413;
padding-left: 5px;
padding-right: 5px;
border-radius: 0px;
line-height: 12px;
height: 12px;
right: 10px;
bottom: 4px;
font-size: 9px!important;
}
.caipinglist{
background-color:#fff; 
height:40px;
border-bottom:1px solid #e5e5e5; 
width:100%;
overflow:hidden;

}
#cuisien { padding:10px;}
#cuisien li{
 display:inline-block; 
 background:#fff;
 margin-left:3px;
 padding:3px 8px;
 border:1px solid #e5e5e5;
 height:25px;
 line-height:25px;
 margin-bottom:6px;
 font-size:1.5rem;  
 
}
#cuisien li.xz{
 background-color:#ff6e6e;
 color:#fff;
}
#cuisien li.xz a{
	 color:#fff;
}
