{itemplate 'public/header'}
<form action="" class="form-horizontal form-filter">
	{php echo tpl_form_filter_hidden('order/distribute/index');}
	<div class="form-group form-inline">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">选择代理区域</label>
		<div class="col-sm-4 col-xs-4">
			<select name="agentid" class="select2 js-select2 form-control width-130">
				<option value="0">选择代理区域</option>
				{loop $_W['agents'] $agent}
					<option value="{$agent['id']}" {if $agentid == $agent['id']}selected{/if}>{$agent['area']}</option>
				{/loop}
			</select>
		</div>
	</div>
</form>
<div class="dispatch">
	<div class="alert alert-warning">
		<span>订单数据为当日订单数据</span>
	</div>
	<div class="clearfix distribute-container">
		<div class="map">
			<div id="allmap"></div>
		</div>
	</div>
</div>

<script type="text/javascript"
		src="https://webapi.amap.com/maps?v=1.4.12&key=550a3bf0cb6d96c3b43d330fb7d86950"></script>
<script type="text/javascript">
	var config = {php echo json_encode($_W['we7_wmall']['config']['takeout']['range']);};
	var map = new AMap.Map('allmap', {
		resizeEnable: true,
		zoom: 12,
		center: [config.map.location_y, config.map.location_x]
	});
	var style = [{
		url: 'https://a.amap.com/jsapi_demos/static/images/mass0.png',
		anchor: new AMap.Pixel(6, 6),
		size: new AMap.Size(11, 11)
	}, {
		url: 'https://a.amap.com/jsapi_demos/static/images/mass1.png',
		anchor: new AMap.Pixel(4, 4),
		size: new AMap.Size(7, 7)
	}, {
		url: 'https://a.amap.com/jsapi_demos/static/images/mass2.png',
		anchor: new AMap.Pixel(3, 3),
		size: new AMap.Size(5, 5)
	}, {
		url: 'https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png',
		anchor: new AMap.Pixel(9, 16),
		size: new AMap.Size(19, 31)
	}
	];
	var data = new Array();
	var orders = {php echo json_encode($orders);};
	$.each(orders, function(k, order) {
		if(order.location_y && order.location_x) {
			let temp = {
				lnglat: [order.location_y, order.location_x], //点标记位置
				style: 3,
			};
			data.push(temp)
		}
	});
	console.dir(data)
	var mass = new AMap.MassMarks(data, {
		opacity: 1,
		zIndex: 111,
		cursor: 'pointer',
		style: style
	});
	var marker = new AMap.Marker({content: ' ', map: map});
	mass.on('mouseover', function (e) {
		marker.setPosition(e.data.lnglat);
		marker.setLabel({content: e.data.name})
	});
	mass.setMap(map);
</script>

{itemplate 'public/footer'}
