{template 'web/common/common'}
<link rel="stylesheet" type="text/css" href="../addons/kundian_ordering/resource/css/style.css" />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            轮播图>编辑
        </h3>
    </div>
    <div class="panel-body">
        <form id="sign-form" class="form-horizontal" role="form" method="post" action="{url 'site/entry/slide',array('m'=>'kundian_ordering','op'=>'saveModel','version_id'=>$_GPC['version_id'])}" name="submit" style="padding: 20px 0;">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  name="title" id="title" value="{$list['title']}">
                    <input type="hidden" name="id" value="{$list['id']}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">图片(375*530)</label>
                <div class="col-sm-8">
                    {php echo tpl_form_field_image('src',$list['src']);}
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">跳转路径</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input type="text" class="form-control"  name="path" value="{$list['path']}">-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-8">
                    {if $list['status']==1}
                    <input type="checkbox" checked class="js-switch" value="1" name="status">
                    {else}
                    <input type="checkbox" class="js-switch" name="status" value="1">
                    {/if}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  name="rank" value="{$list['rank']}">
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" name="submit" class="btn btn-default">
                    <a class="btn btn-default" href="{url 'site/entry/slide',array('m'=>'kundian_ordering')}">返回</a>
                </div>
            </div>



        </form>
    </div>
</div>
{template 'common/footer'}